*, *:focus{
  outline-style: none;
  letter-spacing: 0.3px;
}
#olark-wrapper .olark-launch-button.olark-chat-tab {
  margin-left: -40px;
}
.modal{
  z-index: 950 !important;
}
.modal-backdrop{
  z-index: 940 !important;
}
.modal-title{
  text-align: center;
  font-size: 22px;
}

.loading-div{
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  width: 100%;
  height: 100%;
  z-index: 2;
  &::after{
    content: '';
    display: block;
    background: url('assets/images/asset/global_loader.gif') no-repeat center;
    background-size: 100% 100%;
    margin-left: calc(50% - 60px);
    margin-top: calc( 30vh - 45px);
    width: 120px;
    height: 90px;
  }
}
.inner-content-div{
  position: relative;
}
button {
  outline-style: none !important;
}
.btn-success{
  background-color: $dv-color-green !important;
}
.assets{
  input.ng-valid.ng-touched{
    border-left: 5px solid $dv-color-green;
  }
  input.ng-invalid.ng-touched{
    border-left: 5px solid $dv-color-red;
  }

  textarea.ng-valid.ng-touched{
    border-left: 5px solid $dv-color-green;
  }
  textarea.ng-invalid.ng-touched{
    border-left: 5px solid $dv-color-red;
  }
}

.homepage{
  input.ng-valid.ng-touched{
    border: 2px solid $dv-color-green !important;
  }
  input.ng-invalid.ng-touched{
    border: 2px solid $dv-color-red !important;
  }

  textarea.ng-valid.ng-touched{
    border: 2px solid $dv-color-green !important;
  }
  textarea.ng-invalid.ng-touched{
    border: 2px solid $dv-color-red !important;
  }
}

a{
  text-decoration: none !important;
  color: $dv-color-green;
  &:hover{
    color: $dv-color-green-hover;
  }
  &:active{
    color: $dv-color-green;
  }
  &:visited{
    color: $dv-color-green;
  }
  &.button{
    padding: 7px 17px;
    // border: 2px solid $dv-color-green;
    background-color: $dv-color-green;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    &:hover{
      background-color: $dv-color-green-hover;
    }
  }
}

.svg {
  position: relative;
  display: inline-block;
  z-index: 1;
  &.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
  }
}

svg {
   pointer-events: all;
}

button{
  background-color: $dv-color-green;
  &.button{
    padding: 7px 17px;
    font-size: 16px !important;
    border: 2px solid $dv-color-green;
    background-color: $dv-color-green;
    border-radius: 4px;
    color: #fff;
  }
  &:hover{
    color: $dv-color-white !important;
    background-color: $dv-color-green-hover;
    border-color: $dv-color-green-hover;
  }
}
input:not([type="file"]){
  background-color: $dv-bg-input;
  padding: 6px 10px;
  border: 2px solid $dv-color-border;
  border-radius: 5px;
  outline-style: none;
}

.radio{
    /* Base for label styling */
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
  }

  /* radio aspect */
  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top:0;
    width: 1.4em; height: 1.4em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  }
  /* checked mark aspect */
  [type="radio"]:not(:checked) + label:after,
  [type="radio"]:checked + label:after {
    content: '';
    background-color: $dv-color-green;
    border-radius: 50%;
    width: 12px; height: 12px;
    position: absolute;
    top: 5.4px; left: 4.5px;
    font-size: 1.3em;
    line-height: 0.8;
    transition: all .2s;
  }
  /* checked mark aspect changes */
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  /* disabled radio */
  [type="radio"]:disabled:not(:checked) + label:before,
  [type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: $dv-color-green;
    background-color: #ddd;
  }
  [type="radio"]:disabled:checked + label:after {
    color: #999;
  }
  [type="radio"]:disabled + label {
    color: #aaa;
  }

  /* hover style just for information */
  label:hover:before {
    border: 2px solid $dv-color-green!important;
  }
}

.checkbox{
    /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top:0;
    width: 1.25em; height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: .1em; left: .3em;
    font-size: 1.3em;
    line-height: 0.8;
    color: $dv-color-green;
    transition: all .2s;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  /* disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: $dv-color-green;
    background-color: #ddd;
  }
  [type="checkbox"]:disabled:checked + label:after {
    color: #999;
  }
  [type="checkbox"]:disabled + label {
    color: #aaa;
  }

  /* hover style just for information */
  label:hover:before {
    border: 2px solid $dv-color-green!important;
  }
}
.form-group{
  margin-top: 10px;
  font-size:16px;
  .help-block{
    margin-bottom: 0px !important;
  }
  input{
    width: 100%;
  }
  label{
    font-weight: 400;
    padding-left: 6px;
  }
}
span.help-block{
  font-weight: 200px;
  font-size: 13px;
  padding-top:10px;
  font-style: italic;
}
textarea{
  background-color: $dv-bg-input;
  width: 100%;
  display: block;
  padding: 10px;
  border: 2px solid $dv-color-border;
  border-radius: 2px;
}
.cs-select{
  &>div{
    height: 39px;
    background-color: $dv-bg-input;
    border: 2px solid $dv-color-border;
    border-radius: 5px;
    width: 100%;
  }
  & > div > div.single {
    height: 35px;
  }
  & > div > div.single > div.value, & > div > div.single > div.placeholder {
    line-height: 39px !important;
  }
  & > div > div.single > div.clear, & > div > div.single > div.toggle {
    line-height: 39px !important;
  }

  & > div > div.multiple {
    height: 35px;
  }
  & > div > div.multiple > div.value, & > div > div.multiple > div.placeholder {
    line-height: 39px !important;
  }
  & > div > div.multiple > div.clear, & > div > div.multiple > div.toggle {
    line-height: 39px !important;
  }
  & > div > div.multiple > input{
    height: 39px !important;
    line-height: 39px !important;
  }
  & > div > div.multiple > div.option{
    line-height: 29px;
  }
}
.ui-select-toggle{
  background: $dv-bg-input;
  border: 2px solid $dv-color-border;
  border-radius: 0px;
  height: 39px;
  font-size: 16px;
}
::-webkit-input-placeholder { /* Chrome */
  color: #a9a9a9;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a9a9a9;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a9a9a9;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #a9a9a9;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}

.custom-progress{
  .progress{
    height: 36px;
    border-radius: 0px;
    border: 1px solid $dv-color-border;
    box-shadow: none;
    .progress-bar-title{
      line-height: 36px;
      font-size: 19px;
      position: absolute;
      right: 28px;
      color: $dv-color-primary;
    }
    .progress-bar{
      background-color: $dv-color-green;
      color: $dv-color-white;
    }
  }
}

.collapse-icon{
  background-color: $dv-color-collapse-background;
  width: 27px;
  height: 27px;
  border-radius: 5px;
  color: $dv-color-green;
  position: relative;
  line-height: 20px;
  &::after{
    font-weight: 300;
    position: absolute;
  }
  &.opened::after{
    line-height: 24px;
    font-size: 30px;
    content: '+';
    left: 5px
  }
  &.closed::after{
    font-weight: 400;
    line-height: 26px;
    content: '-';
    left: 10px;
    -webkit-transform:scale(3.0, 1.0);
    -moz-transform:scale(3.0, 1.0);
    -ms-transform:scale(3.0, 1.0);
    -o-transform:scale(3.0, 1.0);
    transform:scale(3.0,1.0);
  }
}

//Custome Date Range Picker
.daterangepicker{
  .ranges{
    ul{
      // width: 190px !important;
    }
    li{
      font-size: 17px;
      background: $dv-bg-dashboard;
      border: none;
      border-radius: 0px;
      color: $dv-color-green;
      padding: 6px 12px;
      margin-bottom: 8px;
      &.active, &:hover{
        background: $dv-color-green-hover;
        border: 1px solid $dv-color-green-hover;
        color: #fff;
      }
    }
    .applyBtn {
      color: #fff;
      background-color: $dv-color-green-hover;
      border-color: $dv-color-green-hover;
      border-radius: 0px;
    }
    .cancelBtn {
      color: #333;
      background-color: #fff;
      border-color: #ccc;
      border-radius: 0px;
      &:hover, &:active{
        color: #333 !important;
      }
    }
  }
  .calendar{
    font-size: 17px;
    td.active, td.active:hover {
      background-color: $dv-color-green-hover;
      border-color: transparent;
      color: #fff;
    }
  }
}

// Custom-User-Multi-Select
.cs-user-select{
  font-weight: 400 !important;
  .pure-checkbox input[type="checkbox"] + label:before {
    color: $dv-color-green !important;
    border: 2px solid $dv-color-green !important;
  }
  .pure-checkbox input[type="checkbox"]:checked + label:before {
    background: $dv-color-green !important;
  }
  .pure-checkbox input[type="checkbox"] + label{
    font-weight: 400 !important;
  }
  .c-btn{
    border: none !important;
  }
  .dropdown-list{
    .arrow-up{
      border-bottom-color: #ccc !important;
      &::after{
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 15px solid #fff;
        position: absolute;
        top: 3px;
        left: -13px;
      }
    }
  }

  .selected-list{
    span{
      font-size: 18px !important;
    }
    .fa-angle-down, .fa-angle-up{
      top: unset !important;
      bottom: 5px !important;
    }
    .c-btn{
      box-shadow: none !important;
      display: inline-flex !important;
      padding: 2px !important;
      &>span{
        margin-top: 5px !important;
      }
      &.disabled{
        background: #fff;
      }
    }
    .c-list{
      font-weight: 400;
      .c-token{
        margin-top: 5px !important;
        background: $dv-color-green !important;
        color: #fff !important;
        float: none !important;
        .c-label{
          float: none !important;
        }
        .fa-remove{
          display: none;
        }
      }
    }
  }
}

// Custom-Dropdown-Multi-Select
.cs-dropdown-select{
  font-weight: 400 !important;
  .pure-checkbox input[type="checkbox"] + label:before {
    color: $dv-color-green !important;
    border: 2px solid $dv-color-green !important;
  }
  .pure-checkbox input[type="checkbox"]:checked + label:before {
    background: $dv-color-green !important;
  }
  .pure-checkbox input[type="checkbox"] + label{
    font-weight: 400 !important;
  }
  .dropdown-list{
    .arrow-up{
      border-bottom-color: #ccc !important;
      &::after{
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 15px solid #fff;
        position: absolute;
        top: 3px;
        left: -13px;
      }
    }
  }
  .selected-list{
    span{
      font-size: 18px !important;
    }
    .c-btn{
      box-shadow: none !important;
      display: inline-flex !important;
      box-shadow: none !important;
      border: 2px solid #eaeaea;
      border-radius: 4px;
      &>span{
        line-height: 28px !important;
      }
    }
    .c-list{
      font-weight: 400;
      .c-token{
        display: flex !important;
        align-items: center !important;
        background: $dv-color-green !important;
        padding: 4px 12px !important;
        color: #fff !important;
        .fa-remove{
          margin-left: 8px !important;
          z-index: 10 !important;
        }
      }
    }
  }
}
select-dropdown
{
  >div
  {
    z-index:2 !important;
  }
}
.content-wrapper{
    padding-top: 102px;
}

/* Tooltip container */
.custom-tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-top {
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
}

/* Tooltip text */
.custom-tooltip .custom-tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 300px;
  background-color: #fff !important;
  color: #333;
  text-align: center;
  padding: 10px 14px;
  z-index: 1;
  opacity: 1;
  transition: opacity .6s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  font-size: 14px;
  font-weight: 300;
  &:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.custom-tooltip:hover .custom-tooltiptext {
    visibility: visible;
}
.error{
  color: $dv-alert-danger;
}

@media (max-width: 1300px) {
  .content-wrapper{
      padding-top: 142px;
  }
}
@media (max-width: 900px) {
  .content-wrapper{
      padding-top: 85px;
  }
}
@media (max-width: 768px) {
  .content-wrapper{
      padding-top: 82px;
  }
}
