//Backgroudn colors
$dv-bg-main: #fafafa;
$dv-bg-sub: #fff;
$dv-bg-dashboard: #fbfbfb;
$dv-bg-input: #f9f9f9;

// Them colors
$dv-color-primary: #2b332c;
$dv-color-white: #ffffff;

$dv-color-orange: #f27a0a;
$dv-color-yellow: #f2db0f;

$dv-color-green: #60a628;
$dv-color-dark-green: #345915;
$dv-color-green-hover: #598a32;
$dv-color-green-active: #4c752a;
$dv-color-green-light: #8fc168;

$dv-color-red: #a54848;

$dv-color-yellow: #ecec11;

$dv-color-grey: #697680;
$dv-color-light-grey: #d9d9d9;
$dv-color-dark-grey: #3c434d;

$dv-color-collapse-background: #f2f2f2;

//Border colors
$dv-color-border: #eaeaea;

//Font Settings
$dv-font-family: 'Lato';
$dv-font-weight: 400;


//Widget settings
$dv-footer-height: 100px;
$dv-sidebar-width: 350px;
$dv-dashboard-header-height: 70px;

//alerts
$dv-alert-danger: #a94442;
