<div class="itdd-homepage">
  <div class="wrapper1">
    <section>
      <h1>Automated IT Due Diligence &amp; Real Time Reporting</h1>
      <div class="flex">
        <div class="img-div">
          <img src="/assets/images/homepage/mac-img.png" alt="" width="100%">
        </div>
        <div class="content">
          <ul>
            <li>Web-based IT Due Diligence software tools</li>
            <li>Consistent quality and predictable delivery</li>
            <li>Automated and accelerated for deal speed</li>
            <li>Immediate ROI with subscription based model</li>
            <li>Baked in collaboration and transparency</li>
          </ul>
          <p>Delavalue is the first automated M&amp;A IT and Operational Due Diligence platform buil by M&amp;A perofessionals, for M&amp;A professionals to do-risk transactions and newly acquired assets.</p>
          <div class="schedule-button">
            <a href="https://calendly.com/dealvalue/demo" target="_blank" class="button">Schedule a Demo!</a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="wrapper2">
    <section>
      <h2>Digitize Your Due Diligence Process</h2>
      <p class="title">Designed for outcome oriented investors, DealValue is the only cloud-based solution<br/> that automatically highlights blind spots and deal value.</p>
      <p>Are you looking for more than a do-it-yourself solution? Or automatically highlight pre-close deal risk to negotiate better deal value?</p>
      <p>Deal speed? Review more deals securely at less cost? Our platform helps you do all the above across all your LOI's and SPA's.</p>
      <p>Review 10 deals or 100+ deals with the same cost with no impact to management fees.</p>
      <p>Don't let the high cost or advisory fees keep you from increasing your deal flow.</p>
      <div class="icon-div">
        <div class="icon-div-row row1">
          <div class="">
            <span [inlineSVG]="'/assets/images/icons/homepage/workflow-icon.svg'"></span>
            <span class="desc">Diligence</span>
          </div>
          <div class="">
            <span [inlineSVG]="'/assets/images/icons/homepage/workflow-icon.svg'"></span>
            <span class="desc">Subscription Based</span>
          </div>
          <div class="">
            <span [inlineSVG]="'/assets/images/icons/homepage/workflow-icon.svg'"></span>
            <span class="desc">Descreased Transaction Cost</span>
          </div>
        </div>
        <div class="icon-div-row row2">
          <div class="">
            <span [inlineSVG]="'/assets/images/icons/homepage/workflow-icon.svg'"></span>
            <span class="desc">Secure &amp; Automated</span>
          </div>
          <div class="">
            <span [inlineSVG]="'/assets/images/icons/homepage/workflow-icon.svg'"></span>
            <span class="desc">Deal Value</span>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="wrapper3">
    <section>
      <h2>Contact Us</h2>
      <div class="inner-content clearfix">
        <div class="info-div">
          <div class="clearfix">
            <div class="icon-div pull-left">
              <img class="" src="./assets/images/icons/contact/location.png" alt="tablet">
            </div>
            <div class="pull-left detail-div">
              <span class="sp1">Address</span>
              <span>1920 McKinney Avenue, Suite 700 <br/> Dallas, Tx 75201</span>
            </div>
          </div>
          <div class="clearfix" style="margin-top:45px;">
            <div class="icon-div pull-left">
              <img class="" src="./assets/images/icons/contact/email.png" alt="tablet">
            </div>
            <div class="pull-left detail-div">
              <span class="sp1">E-mail</span>
              <a href="#">success@dealvalue.com</a>
            </div>
          </div>
        </div>
        <div class="contact-div assets">
          <p class="alert alert-success" *ngIf="success == 1"> Inquiry has been successfully submitted! </p>
          <p class="alert alert-danger" *ngIf="success == 2"> Something went wrong! </p>
          <form class="form form1" (ngSubmit) = "send()" #form="ngForm">
            <div class="row">
              <div class="col-md-6 form-group"
                [ngClass]="{
                  'has-error': firstname.invalid && firstname.touched,
                  'has-success': firstname.valid && firstname.touched
                }">
                <label for="firstname" class="required">First Name:</label>
                <input type="text" name="firstname" #firstname = "ngModel" placeholder="First Name" [(ngModel)] = "userInfo.firstname" value=""  required>
                <span class="help-block" *ngIf="firstname.errors && firstname.errors.required  && firstname.touched">First Name is required</span>
              </div>
              <div class="col-md-6 form-group"
                [ngClass]="{
                  'has-error': lastname.invalid && lastname.touched,
                  'has-success': lastname.valid && lastname.touched
                }">
                <label for="lastname" class="required">Last Name:</label>
                <input type="text" name="lastname" #lastname = "ngModel" placeholder="Last Name" [(ngModel)] = "userInfo.lastname" value=""  required>
                <span class="help-block" *ngIf="lastname.errors && lastname.errors.required  && lastname.touched">Last Name is required</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group"
                [ngClass]="{
                  'has-error': email.invalid && email.touched,
                  'has-success': email.valid && email.touched
                }">
                <label for="email" class="required">Business Email:</label>
                <input type="text"  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(?!hotmail|gmail|yahoo|msn|me|icloud|aol|outlook|mail)(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)" name="email" #email = "ngModel" placeholder="Business Email" [(ngModel)] = "userInfo.email" value=""  required>
                <span class="help-block" *ngIf="email.errors && email.errors.required  && email.touched">Email is required</span>
                <span class="help-block" *ngIf="email.errors && email.errors.pattern  && email.touched">Email shoud be Business Email</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group"
                [ngClass]="{
                  'has-error': contact.invalid && contact.touched,
                  'has-success': contact.valid && contact.touched
                }">
                <label for="contact" class="required">Primary Contact Number:</label>
                <input type="text" name="contact" #contact = "ngModel" placeholder="Contact Number" [(ngModel)] = "userInfo.contact" value=""  required>
                <span class="help-block" *ngIf="contact.errors && contact.errors.required  && contact.touched">Contact is required</span>
              </div>
              <div class="col-md-6 form-group"
                [ngClass]="{
                  'has-error': zipcode.invalid && zipcode.touched,
                  'has-success': zipcode.valid && zipcode.touched
                }">
                <label for="zipcode" class="required">Zip Code:</label>
                <input type="text" name="zipcode" #zipcode = "ngModel" placeholder="Zip Code" [(ngModel)] = "userInfo.zipcode" value=""  required>
                <span class="help-block" *ngIf="zipcode.errors && zipcode.errors.required  && zipcode.touched">Zip Code is required</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group"
                [ngClass]="{
                  'has-error': inquiry.invalid && inquiry.touched,
                  'has-success': inquiry.valid && inquiry.touched
                }">
                <label for="inquiry" class="required">Inquiry:</label>
                <textarea name="inquiry" #inquiry = "ngModel" placeholder="Type Details Here" [(ngModel)] = "userInfo.inquiry" value=""  required rows="8" cols="80"></textarea>
                <span class="help-block" *ngIf="inquiry.errors && inquiry.errors.required  && inquiry.touched">Inquiry is required</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <label class="required">required fields</label>
              </div>
              <div class="col-md-6 form-group">
                <button type="submit" [disabled] = "form.invalid" class="btn button pull-right">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
