<div class="answer-page">
  <div class="loading-div" *ngIf="loading"></div>
  <form class="form assets" (ngSubmit) = "saveAnswer()" #answer_form="ngForm">
    <div class="title">
      <p>{{assessment.Title}} <span *ngIf="assessment.Desc != ''">({{assessment.Desc}})</span></p>
      <div class="button-div">
        <button type="submit" [disabled] = "answer_form.invalid" class="btn button pull-right">Save</button>
      </div>
    </div>
    <div class="inner-content-div">
      <table class="question-table">
        <ng-container *ngFor="let question_item of questions; let question_index = index">
          <tbody *ngIf="userRole == 'PRIMARY' || userAssignment['Questions'].indexOf(question_item['uuid']) != -1 || userAssignment['Assessments'].indexOf(assessment['uuid']) != -1">
            <tr>
              <td style="width:40px">
                <span class="img" [inlineSVG]="'/assets/images/icons/dashboard/question-mark-icon.svg'"></span>
              </td>
              <td>
                <div class="questions-div" [class.na]="question_item.Status == 0">
                  <span>{{question_item['Label']}}</span>
                </div>
              </td>
            </tr>
            <ng-container *ngIf = "question_item.Type == 'Dropdown'">
              <tr class="answer_tr">
                <td style="width:40px">
                </td>
                <td>
                  <angular2-multiselect name="dropdown{{question_index}}" [data]="dropdownData[question_item['uuid']].Content" [(ngModel)]="dropdownData[question_item['uuid']].Selected" [settings]="dropdownSettings"></angular2-multiselect>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf = "question_item.Type == 'Date'">
              <tr class="answer_tr">
                <td style="width:40px">
                </td>
                <td>
                  <input type="text" name="date{{question_index}}" [(ngModel)] = "question_item.value" value="" daterangepicker [options]="datepickerOptions"  (selected)="setDateQuestion(question_index,$event)"/>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf = "question_item.Type == 'Grid'">
              <tr>
                <td style="width:40px">
                </td>
                <td>
                  <div class="form-group radio radio-button-div">
                    <div class="">
                      <input type="radio" id="{{question_item['uuid']}}-yes-raido" name="{{question_item['uuid']}}" value="1"  [(ngModel)]="question_item['value']" (click)="selectGridYes(question_item)">
                      <label for="{{question_item['uuid']}}-yes-raido">Yes</label>
                    </div>
                    <div class="">
                      <input type="radio" id="{{question_item['uuid']}}-no-raido" name="{{question_item['uuid']}}" value="0"   [(ngModel)]="question_item['value']">
                      <label for="{{question_item['uuid']}}-no-raido">No</label>
                    </div>
                  </div>
                </td>
              </tr>
              <ng-container *ngIf="question_item['value'] == 1">
                <ng-container *ngFor="let gridItemGroup of gridData[question_item['uuid']]; let i = index">
                  <tr class="grid_answer_tr">
                    <td style="width:40px">
                      <span class="app-no-span">{{i+1}}</span>
                    </td>
                    <td>
                      <div class="row grid_answer_div">
                        <div class="col-md-4" *ngFor="let item of gridItemGroup.Items; let i1 = index">
                            <input type="text" name="gridData_{{i1}}" value="" [(ngModel)]="item['value']" required placeholder="{{item['Text']}}">
                        </div>
                        <div class="col-md-12 action-div">
                          <span class="img remove-icon" aria-label="Remove Item" [inlineSVG]="'/assets/images/icons/dashboard/remove-icon.svg'" (click)="remove_grid_answer(question_item['uuid'],i)"></span>
                          <span class="img move-icon-down" aria-label="Move Down" [inlineSVG]="'/assets/images/icons/dashboard/move-arrow.svg'" (click)="move_answer_down(question_item['uuid'],i)"></span>
                          <span class="img move-icon-up" aria-label="Move Up" [inlineSVG]="'/assets/images/icons/dashboard/move-arrow.svg'" (click)="move_answer_up(question_item['uuid'],i)"></span>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
                <tr>
                  <td style="width:40px">
                  </td>
                  <td>
                    <div class="clearfix add-new-div">
                      <a class="add-button" (click)="new_grid_answer(question_item)">Add Another</a>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
            <ng-container *ngIf = "question_item.Type == 'Text' || question_item.Type == 'Radio' || question_item.Type == 'Checkbox'">
              <tr *ngFor="let item of question_item.Items; let i1 = index" class="answer_tr">
                <td style="width:40px">
                </td>
                <td>
                  <div class="" *ngIf="question_item['Type'] == 'Text'">
                    <textarea rows="3" cols="80" type="text" name="text{{question_index}}_{{i1}}" value="" [(ngModel)]="item['value']" placeholder="{{item['Text']}}"></textarea>
                  </div>
                  <div class="form-group radio" *ngIf="question_item['Type'] == 'Radio'">
                    <input type="radio" id="{{item['uuid']}}" [(ngModel)]="question_item['value']" name="{{question_item['uuid']}}" [value]="item['uuid']">
                    <label for="{{item['uuid']}}">{{item['Text']}}</label>
                  </div>
                  <div class="form-group checkbox" *ngIf="question_item['Type'] == 'Checkbox'" style="margin-top:15px">
                    <input type="checkbox" id="{{item['uuid']}}" [(ngModel)]="item['value']" name="{{question_item['uuid']}}" value="">
                    <label for="{{item['uuid']}}">{{item['Text']}}</label>
                  </div>
                </td>
              </tr>
            </ng-container>
            <tr *ngIf = "question_item.HasDocument">
              <td style="width:40px">
              </td>
              <td>
                <div class="comment-div">
                  <a href="javascript:;" (click)="OpenUploadFileModal(newAttachmentModal, question_item['uuid'])" class="pull-right" [inlineSVG]="'../../../assets/images/icons/dashboard/attachment-icon.svg'"></a>
                  <input class="comment" type="text" name="document{{question_index}}" [(ngModel)]="question_item['comment']" placeholder="Comment">
                </div>
              </td>
            </tr>
          </tbody>
        </ng-container>
      </table>
    </div>
  </form>
</div>

<modal #newAttachmentModal [animation]=false class="newAttachmentModal">
  <form class="form assets" (ngSubmit) = "addNewAttachment(newAttachmentModal)" #form="ngForm">
    <modal-header>
      <h4 class="modal-title">New Attachment</h4>
    </modal-header>
    <modal-body>
      <div class="">
        <input type="file" accept= "*" id="newAttachmentInput" name="test" (change)="updateFile($event)">
      </div>
      <div class="row">
        <ul>
          <li><a [ngClass]="{'active': newAttachmentObj['SourceType'] == 'Computer' }" href="javascript:;" onClick="document.getElementById('newAttachmentInput').click()">Computer</a></li>
          <li><a [ngClass]="{'active': newAttachmentObj['SourceType'] == 'Dropbox' }" href="javascript:;" (click)="dropboxChooser()">Dropbox</a></li>
          <li><a [ngClass]="{'active': newAttachmentObj['SourceType'] == 'Box' }" href="javascript:;" (click)="boxChooser()">Box</a></li>
          <li><a [ngClass]="{'active': newAttachmentObj['SourceType'] == 'Googledrive' }" href="javascript:;" (click)="openGooglePicker()">Google Drive</a></li>
          <li><a [ngClass]="{'active': newAttachmentObj['SourceType'] == 'Onedrive' }" href="javascript:;" (click)="launchOneDrivePicker()">OneDrive</a></li>
          <div class="attachlink-div row">
            <label for="attachlink-input" >Attach a link</label>
            <div [ngClass]="{
              'has-error': filelink.invalid && filelink.touched,
              'has-success': filelink.valid && filelink.touched
            }">
              <div class="col-md-12 form-group">
                <input type="text" name="attachlink-input" class="attachlink-input" #filelink ="ngModel" [(ngModel)] = "customFileLink" (keyup)="customLink($event)" value="" placeholder="Paste any link here...">
              </div>
            </div>
            <div *ngIf="customFileLink" [ngClass]="{
              'has-error': filelinkname.invalid && filelinkname.touched,
              'has-success': filelinkname.valid && filelinkname.touched
            }">
              <div class="col-md-12 form-group">
                <input type="text" name="attachname-input" class="attachlink-input" #filelinkname ="ngModel" [(ngModel)] = "customFileName" value="" placeholder="Input Filename">
              </div>
            </div>
          </div>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="SelectedFile">File Selected: </label>
          <p class="file-name" *ngIf="newAttachmentObj.File">{{newAttachmentObj.File['name']}}</p>
        </div>
      </div>
      <div class="row"
      [ngClass]="{
        'has-error': newComment.invalid && newComment.touched,
        'has-success': newComment.valid && newComment.touched
      }">
        <div class="col-md-12 form-group">
          <label for="newComment" class="required">Comment:</label>
          <input type="text" name="newComment" #newComment ="ngModel" [(ngModel)] = "newAttachmentObj.Comment" value="">
          <span class="help-block" *ngIf="newComment.errors && newComment.errors.required  && newComment.touched">Comment is required</span>
        </div>
      </div>
    </modal-body>
    <modal-footer>
        <button type="submit" class="btn btn-success" [disabled] = "form.invalid || !newAttachmentObj.File">Upload</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="newAttachmentModal.dismiss()">Cancel</button>
    </modal-footer>
  </form>
</modal>
