<div class="team-page">
  <div class="title">
    <p>Document Request List</p>
    <ul>
      <li><a routerLink="../../app/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="../../app/progress" routerLinkActive="active">Progress</a></li>
      <li><a routerLink="../../app/files" routerLinkActive="active">Files</a></li>
      <li><a routerLink="../../app/team" routerLinkActive="active">Team</a></li>
      <li><a routerLink="../../app/heatmap" routerLinkActive="active">Heat Map</a></li>
      <li><a routerLink="../../app/reports" routerLinkActive="active">Reports</a></li>
      <li><a href="javascript:;" [inlineSVG]="'../assets/images/icons/dashboard/info-icon.svg'"></a></li>
      <li><a href="javascript:;" [inlineSVG]="'../assets/images/icons/dashboard/more-icon.svg'"></a></li>
    </ul>
  </div>
  <table class="table">
    <thead>
      <tr>
        <td class="category">
          <div class="filter">By Status<span [inlineSVG]="'../../../assets/images/icons/dashboard/down-icon.svg'"></span></div>
        </td>
        <td colspan="3">
          <span>Progress/Completion Rate</span>
          <span class="span-percent">50%</span>
          <div class="custom-progress">
            <progress-bar [value] = "50" [max] = "100" title = "50%"></progress-bar>
          </div>
        </td>
      </tr>
      <tr>
        <td class="category clearfix">
          <div class="">
            User Name <span [inlineSVG]="'../../../assets/images/icons/dashboard/down-icon.svg'"></span>
          </div>
        </td>
        <td class="status">Status <span [inlineSVG]="'../../../assets/images/icons/dashboard/down-icon.svg'"></span></td>
        <td width="15%">Another Field <span [inlineSVG]="'../../../assets/images/icons/dashboard/down-icon.svg'"></span></td>
        <td width="15%">Assigned on <span [inlineSVG]="'../../../assets/images/icons/dashboard/down-icon.svg'"></span></td>
      </tr>
    </thead>
    <tbody *ngFor="let file_group of tableData">
      <tr>
        <td class="category">
          <div (click)="file_group.open = !file_group.open">
            <div class="desc-div">
              <span [hidden]="file_group.hasDetail != true" href="javascript:;" class="collapse-icon" [class.opened]="!file_group.open" [class.closed]="file_group.open"></span>
              <span class="desc" [class.no-files]="!file_group.hasDetail">{{file_group.username}}</span>
              <span class="short-name">{{file_group.shortname}}</span>
            </div>
          </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="sublist" [hidden]="file_group.hasDetail != true || file_group.open != true"  *ngFor="let file_item of file_group.subDetails">
        <td class="category">
          <div>
            <div class="desc-div">
              <div class="pull-left" [inlineSVG]="'../../../assets/images/icons/dashboard/level-arrow.svg'"></div>
              <span class="desc pull-left"><b>{{assessmentArr[file_item.assessment_type]}}</b> &nbsp;/&nbsp; {{file_item.desc}}</span>
            </div>
          </div>
        </td>
        <td class="status" [class.pending]="file_item.status == 2">
          {{statusArr[file_item.status]}}
        </td>
        <td>
          <div class="">
            <span>sth</span>
          </div>
        </td>
        <td>
          <div class="">
            <span>{{file_item.created_at | amParse:'DD/MM/YYYY' | amDateFormat:'LL'}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
