<div class="team-page">
  <div class="loading-div" *ngIf="loading"></div>
  <div class="sub-header">
    <p>My Team</p>
    <ul>
      <li><a routerLink="../../app/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="../../app/progress" routerLinkActive="active">Progress</a></li>
      <li><a routerLink="../../app/files" routerLinkActive="active">Files</a></li>
      <li><a routerLink="../../app/team" routerLinkActive="active">Team</a></li>
      <li><a routerLink="../../app/heatmap" routerLinkActive="active">Heat Map</a></li>
      <li><a routerLink="../../app/reports" routerLinkActive="active">Reports</a></li>
      <li><a href="javascript:;" [inlineSVG]="'../assets/images/icons/dashboard/info-icon.svg'"></a></li>
      <li><a href="javascript:;" [inlineSVG]="'../assets/images/icons/dashboard/more-icon.svg'"></a></li>
    </ul>
  </div>
  <div class="title">
    <div class="button-div">
      <a (click)="inviteTeam(newTeamMemberModal)" class="button pull-right">
        <span><i class="fa fa-save"></i></span>&nbsp; Invite Team Members
      </a>
    </div>
  </div>
  <modal #newTeamMemberModal [animation]=false>
    <form class="form invite-modal" (ngSubmit) = "inviteTeamMembers(newTeamMemberModal)" #form="ngForm">
      <modal-header>
        <h4 class="modal-title">Invite New Team Members</h4>
      </modal-header>
      <modal-body>
        <div class="row" *ngIf="!hasPrimary">
          <div class="col-md-12 form-group"
            [ngClass]="{
              'has-error': primaryemail.invalid && primaryemail.touched,
              'has-success': primaryemail.valid && primaryemail.touched
            }">
            <div class="clearfix">
              <div class="user-icon" [inlineSVG]="'/assets/images/icons/dashboard/team-icon1.svg'"></div>
              <input class="email pull-left" type="email" name="primaryemail" #primaryemail = "ngModel" [(ngModel)] = "PrimaryEmail" value="" placeholder="Primary User email" required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            </div>
            <span class="help-block" *ngIf="primaryemail.errors && primaryemail.errors.required  && primaryemail.touched">Primary Email is required</span>
            <span class="help-block" *ngIf="primaryemail.errors && primaryemail.errors.pattern && primaryemail.touched">Primary Email is invalid</span>
          </div>
        </div>

        <div class="row" *ngFor="let item of TeamEmail; let i = index">
          <div class="col-md-12 form-group"
            [ngClass]="{
              'has-error': item.name.invalid && item.name.touched,
              'has-success': item.name.valid && item.name.touched
            }">
            <div class="clearfix">
              <div class="user-icon" [inlineSVG]="'/assets/images/icons/dashboard/team-icon1.svg'"></div>
              <input class="email pull-left" type="email" name="{{item.name}}" #item.name= "ngModel" [(ngModel)] = "item.value" value="" placeholder="Teammate's email" required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <a class="remove-button" (click)="removeTeamMemeber(i)" ><span></span></a>
            </div>
            <span class="help-block" *ngIf="item.name.errors && item.name.errors.required  && item.name.touched">Email is required</span>
            <span class="help-block" *ngIf="item.name.errors && item.name.errors.pattern && item.name.touched">Email is invalid</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group clearfix">
            <a class="add-button" (click)="addNewTeamMembr()"><span>New Team-Member</span></a>
          </div>
        </div>
      </modal-body>
      <modal-footer>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="newTeamMemberModal.dismiss()">Cancel</button>
          <button type="submit" class="btn btn-success" [disabled] = "form.invalid">Send Invitation</button>
      </modal-footer>
    </form>
  </modal>
  <table class="table">
    <thead>
      <tr>
        <td class="category">
          <div class="filter">By Status<span [inlineSVG]="'../../../assets/images/icons/dashboard/down-icon.svg'"></span></div>
        </td>
        <td colspan="3">
          <span>Progress/Completion Rate</span>
          <span class="span-percent">50%</span>
          <div class="custom-progress">
            <progress-bar [value] = "50" [max] = "100" title = "50%"></progress-bar>
          </div>
        </td>
      </tr>
      <tr>
        <td class="category clearfix">
          <div class="">
            User Name <span [inlineSVG]="'../../../assets/images/icons/dashboard/down-icon.svg'"></span>
          </div>
        </td>
        <td class="status">Status </td>
        <td width="15%">Assgned On </td>
        <td width="15%">Complete on </td>
      </tr>
    </thead>
    <tbody *ngFor="let userItem of tableData">
      <tr>
        <td class="category">
          <div (click)="userItem.open = !userItem.open">
            <div class="desc-div">
              <span [hidden]="userItem.hasDetail != true" href="javascript:;" class="collapse-icon" [class.opened]="!userItem.open" [class.closed]="userItem.open"></span>
              <span class="desc" [class.no-files]="!userItem.hasDetail">{{userItem.username}}</span>
              <span class="short-name">{{userItem.shortname}}</span>
            </div>
          </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="sublist" [hidden]="userItem.hasDetail != true || userItem.open != true"  *ngFor="let assessment_item of userItem.assessments">
        <td class="category">
          <div>
            <div class="desc-div">
              <div class="pull-left" [inlineSVG]="'../../../assets/images/icons/dashboard/level-arrow.svg'"></div>
              <span class="desc pull-left"><b>{{assessment_item.title}}</b> <span *ngIf= "assessment_item.desc != ''">&nbsp;/&nbsp; {{assessment_item.desc}}</span></span>
            </div>
          </div>
        </td>
        <td class="status" [class.pending]="assessment_item.status == 2">
          {{statusArr[assessment_item.status]}}
        </td>
        <td>
          <div class="">
            <span>{{assessment_item.assigned_on | amDateFormat:'LL'}}</span>
          </div>
        </td>
        <td>
          <div class="">
            <span>{{assessment_item.completed_at | amDateFormat:'LL'}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
