<div class="user-membership-page">
  <div class="loading-div" *ngIf="loading"></div>
  <ng-container *ngIf="!loading">
    <section>
      <div class="wrapper clearfix">
        <div class="content">
          <h2>Pricing &amp; Plans</h2>
          <div class="row">
            <div class="col-md-12">
              <table>
                <thead>
                  <tr>
                    <td width="40%" class="no-border"></td>
                    <td rowspan="2" class="td-premium td-plan" [class.td-select]="plan_type == 'Premium'" >
                      <span class="star-icon" *ngIf="plan_type == 'Premium'"> <img src="/assets/images/icons/membership/star.png" alt=""> </span>
                      <span class="sp-type">Premium</span>
                      <span class="sp-price"><i>$</i>{{this.adminSetting.PremiumFee}}<span class="sp_duration">/month</span></span>
                      <span class="sp-desc">billed annually</span>
                    </td>
                    <td rowspan="2" class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'">
                      <span class="star-icon" *ngIf="plan_type == 'Professional'"> <img src="/assets/images/icons/membership/star.png" alt=""> </span>
                      <span class="sp-type">Professional</span>
                      <span class="sp-price"><i>$</i>{{this.adminSetting.ProfessionalFee}}<span class="sp_duration">/month</span></span>
                      <span class="sp-desc">billed annually</span>
                    </td>
                    <td rowspan="2" class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'">
                      <span class="star-icon" *ngIf="plan_type == 'Enterprise'"> <img src="/assets/images/icons/membership/star.png" alt=""> </span>
                      <span class="sp-type">Enterprise</span>
                      <span class="sp-price"><i>$</i>{{this.adminSetting.EnterpriseFee}}<span class="sp_duration">/month</span></span>
                      <span class="sp-desc">billed annually</span>
                    </td>
                    <td rowspan="2" class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'">
                      <span class="star-icon" *ngIf="plan_type == 'Onedone'"> <img src="/assets/images/icons/membership/star.png" alt=""> </span>
                      <span class="sp-type">One &amp; Done</span>
                      <span class="sp-price"><i>$</i>{{this.adminSetting.OnedoneFee}}</span>
                      <span class="sp-desc">one-time payment <i class="custom-tooltip" >?
                        <span class="custom-tooltiptext tooltip-top">
                          One User, One Report and One Time Payment
                        </span>
                      </i></span>
                    </td>
                  </tr>
                  <tr>
                    <td class="desc-title">IT Risk &amp; Opportunities Due Diligence</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Application (Back-office, Operational, Industry, Desktop &&amp; Custom)</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                  </tr>
                  <tr>
                    <td>Infrastructure (Network, Servers &amp; Workstations)</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                  </tr>
                  <tr>
                    <td>IT Organization (People, Processes &amp; Policies)</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                  </tr>
                  <tr>
                    <td>IT Projects (Current &amp; Future)</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                  </tr>
                  <tr>
                    <td>IT Budget (CapEx &amp; OpEx)</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                  </tr>
                  <tr>
                    <td>Heat Map (Risks &amp; Opportunities)</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                  </tr>
                  <tr>
                    <td>Secure Online Due Diligence Report With Heat Map</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                  </tr>
                  <tr>
                    <td>Daily Updates With Progress Reports</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                  </tr>
                  <tr>
                    <td>Number of Users</td>
                    <td class="td-premium td-plan" [class.td-select]="plan_type == 'Premium'"> <span class="orange">1 User</span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'">  <span  class="orange">3 Users</span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span  class="green">Unlimited</span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span class="orange"an>1 User</span> </td>
                  </tr>
                  <tr>
                    <td>Number of Monthly Reports</td>
                    <td class="td-premium td-plan" [class.td-select]="plan_type == 'Premium'"> <span class="orange">1</span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="orange">3</span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span class="green">Unlimited</span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span class="orange">1</span> </td>
                  </tr>
                  <tr>
                    <td>Data Storage</td>
                    <td class="td-premium td-plan" [class.td-select]="plan_type == 'Premium'"> <span class="orange">10GB</span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="orange">10GB</span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span class="green">Unlimited</span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span class="orange">10GB</span> </td>
                  </tr>
                  <tr>
                    <td>Report Readout via Conference</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                  </tr>
                  <tr>
                    <td>IT Due Diligence Support(9AM - 5PM CST)</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                  </tr>
                  <tr>
                    <td>Confidential PDF of IT Report</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                  </tr>
                  <tr>
                    <td>Interviews With Key IT &amp; Business Stakeholders</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="disable"></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span class="disable"></span> </td>
                  </tr>
                  <tr>
                    <td>IT Roadmap &amp; Recommendations</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="disable"></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span class="disable"></span> </td>
                  </tr>
                  <tr>
                    <td>IT Risk &amp; Compliance Report</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="disable"></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span class="disable"></span> </td>
                  </tr>
                  <tr>
                    <td>IT Metrics &amp; Best Practices</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="disable"></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span class="disable"></span> </td>
                  </tr>
                  <tr>
                    <td>IT Transition Cost &amp; Planinig</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="disable"></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span class="disable"></span> </td>
                  </tr>
                  <tr>
                    <td>Transition Service Agreement Review &amp; Recommendations</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="disable"></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span class="disable"></span> </td>
                  </tr>
                  <tr>
                    <td>Dedicated IT Due Diligence Advisor</td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="disable"></span> </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span class="disable"></span> </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td class="no-border"></td>
                    <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" >
                      <a (click)="updateMembership('Premium')" class="buynow button">Buy Now</a>
                    </td>
                    <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'">
                      <a (click)="updateMembership('Professional')" class="buynow button">Buy Now</a>
                    </td>
                    <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'">
                      <a (click)="updateMembership('Enterprise')" class="buynow button">Buy Now</a>
                    </td>
                    <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'">
                      <a (click)="updateMembership('Onedone')" class="buynow button">Buy Now</a>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</div>
