.answer-page{
  .answer_tr{
    td{
      border-top: none !important;
      &:first-of-type{
        text-align: center;
      }
    }
  }
  .grid_answer_tr{
    td:first-of-type{
      vertical-align: top !important;
      padding-top: 27px;
    }
    .grid_answer_div{
      display: block;
      align-items: center;
      >div{
        padding: 5px 10px;
        >input{
          width: 100%;
        }
      }
      .action-div{
        display: flex;
        justify-content: flex-end;
        .move-icon-up{
          &>svg{
            -ms-transform: rotate(180deg); /* IE 9 */
            -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .add-new-div{
    display: flex;
    justify-content: flex-end;
  }
  .title{
    font-size: 21px;
    font-weight: bold;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
      &>li{
        list-style: none;
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        &>a{
          color: $dv-color-primary;
          font-size: 18px;
          margin: 0px 15px;
          font-weight: 400;
        }
      }
    }
    .button-div{
      .button{
        font-size: 17px;
        padding: 4px 17px;
      }
    }
  }
  .radio-button-div{
    display: flex;
    align-items: center;
    >div{
      margin-left: 20px;
      &:first-of-type{
        margin-left: 0px;
      }
    }
  }
  .question-table{
    font-size: 17px;
    width: 100%;
    .questions-div{
      &.na{
        span::after{
          color: $dv-color-red;
          font-style: italic;
          content: '(Not Availabe)';
          padding-left: 10px;
        }
      }
    }
    td{
      vertical-align: middle !important;
      &>span{
        padding:0px 5px;
      }
      .img{
        float: left;
        padding:0px 5px;
        display: block;
        cursor: pointer;
      }
      input, textarea{
        border-radius: 4px;
        background-color: $dv-color-white;
        color: $dv-color-primary;
      }
      .comment-div{
        .comment{
          width: 100%;
          margin-left: 20px;
        }
      }
    }
    tbody{
      td{
        color: $dv-color-grey;
        &>div{
          display: flex;
          align-items: center;
          .label-input{
            width: 100%;
          }
          .question{
            padding-left: 16px;
          }
          .add-button{
            float: right;
            position: relative;
            cursor: pointer;
            &::before{
              content: '+';
              display: block;
              float: left;
              font-weight: 300;
              margin-left: 15px;
              top:0px;
              width: 17px;
              -webkit-transform:scale(2.0, 2.0);
              -moz-transform:scale(2.0, 2.0);
              -ms-transform:scale(2.0, 2.0);
              -o-transform:scale(2.0, 2.0);
              transform:scale(2.0,2.0);
            }
          }
        }
      }
    }
    th,td{
      border-top: 2px solid $dv-color-border;
      border: 2px solid $dv-color-border;
      padding: 14px 14px;
      font-weight: 400;
      color: $dv-color-primary;
      &:first-of-type{
        border-left: none;
      }
      &:last-of-type{
        border-right: none;
      }
      &.status{
        width: 150px;
      }
    }
  }
}
.newAttachmentModal{
  ul{
    list-style: none;
    margin: 4px 20px;
    padding: 0px;
    li{
      a{
        color: $dv-color-primary;
        font-size: 20px;
        display: block;
        width: 100%;
        padding: 3px 0px;
        &:hover{
          background-color: $dv-color-green-hover;
          color: $dv-bg-main;
        }
        &.active{
          background-color: $dv-color-green-hover;
          color: $dv-bg-main;
        }
      }
    }
    .attachlink-div{
      margin: 10px 0px;
      padding: 18px 0px;
      border-top: 1px dotted #ccc;
      border-bottom: 1px dotted #ccc;
      .form-group{
        padding-left: 0px;
      }
      .attachlink-input{
        width: 100%;
      }
    }
  }
  .required{
    color: #a94442;
    &::before{
      content: '*';
      font-size: 20px;
      display: block;
      position: absolute;
      left: 10px;
    }
  }
}
