.dashboard{
  .row{
    margin: 0px;
    &.first-row{
      border-top: 2px solid $dv-color-border;
    }
  }
  .datepicker-div{
    background-color: $dv-color-white;
    padding: 0px 10px;
    border: 2px solid $dv-color-border;
    border-radius: 5px;
    width: 390px;
    display: flex;
    align-items: center;
    margin: 20px 10px;
    float: right;
    &>div{
      width: 100%;
      cursor: pointer;
      padding: 3px;
      .icon-div{
        color: $dv-color-green;
        font-size: 25px;
      }
      .date-text{
        padding-left: 10px;
        font-size: 18px;
      }
    }
  }
  .status-block{
    margin: 0px !important;
    border-bottom: 2px solid $dv-color-border;
    border-right: 2px solid $dv-color-border;
    padding: 22px 40px;
    position: relative;
    height: 126px;
    &:last-of-type{
      border-right: none;
    }
    .status{
      position: relative;
      .title{
        font-size: 21px;
        font-weight: bold;
      }
    }
    .value{
      position: absolute;
      margin: 30px;
      right: 0px;
      bottom: 0px;
      color: $dv-color-green;
      font-size:43px;
      line-height: 40px;
      font-weight: 300;
      span{
        color: $dv-color-primary;
        font-size: 20px;
        line-height: 20px;
        display: inline-table;
        vertical-align: text-top;
        margin: 0px;
        padding: 0px;
      }
    }
  }
  .progress-div{
    margin: 30px 20px;
    .title{
      font-size: 21px;
      font-weight: bold;
      margin: 10px 20px;
    }
    .progress-item{
      padding: 15px 20px;
      .title{
        margin: 0px 0px 20px 0px;
        font-size: 17px;
        font-weight: 400;
      }
      .detail{
        .img{
          margin-right: 15px;
          float: left;
        }
      }
    }
  }
}
