.heatmap{
  padding: 40px 40px;
  .title{
    font-size: 21px;
    font-weight: bold;
    margin: 0px;
  }
  table
  {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    td{
      position: relative;
      text-align: center;
      line-height: 32px;
      vertical-align: middle;
      font-weight: 600;
      &:first-of-type{
        text-align: left;
      }
      .img{
        margin-right: 10px;
        display: flex;
      }
      padding: 12px 5px;
    }
    thead {
      &>tr>td {
        &>div {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    tbody{

    }
  }
  table.table1{
    tbody{
      td{
        .img{
          margin-right: 15px;
          float: left;
        }
        &.color-block{
          span{
            height: 35px;
            width: calc(100% - 10px);
            background-color: $dv-bg-main;
            display: block;
          }
          &.green{
            span{
              background-color: $dv-color-green;
            }
          }
          &.yellow{
            span{
              background-color: $dv-color-yellow;
            }
          }
          &.orange{
            span{
              background-color: $dv-color-orange;
            }
          }
        }
      }
    }
  }
  table.table2{
    margin-top: 45px;
    thead{
      td{
        text-align: left;
      }
    }
    tbody {
      &>tr>td {
        &>div {
          display: flex;
          align-items: center;
          justify-content: none;
          font-weight: 600;
        }
      }
      td{
        &>div{
          display: flex;
          align-items: center;
        }
        text-align: left;
        font-weight: 400;
        .color{
          width: 60px;
          height: 30px;
          float: left;
          border-radius: 0px;
          &.green{
            background: $dv-color-green;
          }
          &.yellow{
            background: $dv-color-yellow;
          }
          &.orange{
            background: $dv-color-orange;
          }

        }
        .desc{
          line-height: 20px;
          font-weight: 400;
          float: left;
          margin-left: 10px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
