.report-page{
  h2{
    color: $dv-color-grey;
    text-align: center;
  }
  .row{
    margin: 0px;
    &.first-row{
      border-top: 2px solid $dv-color-border;
    }
  }
  .nav-tabs {
      border: 0px;
      background-color: $dv-bg-main;
      border: 2px solid $dv-color-border;
      li{
        a{
          color:$dv-color-primary;
          border-radius: 0px;
          margin-right: 0px;
          font-size: 16px;
          font-weight: 600;
        }
        &.active{
          a{
            color:#fff;
            background-color: $dv-color-green;
            border-radius: 0px;
          }
        }
      }
  }
  .button-div{
    padding: 30px 30px 10px;
  }
  .content-div{
    margin: 15px 20px;
    .tabset-content{
      border: 2px solid $dv-color-border;
      border-top: none;
      padding: 20px;
      .content-block{
        .feedback-div{
          margin-bottom: 25px;
        }
        .header-title-div
        {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3{
            margin: 30px 0px;
          }
          .edit-icon{
            float: right;
            cursor: pointer;
            font-size: 20px;
            color: $dv-color-green;
          }
        }
        .question-div{
          margin-bottom: 35px;
          .main-question{
            display: flex;
            align-items: center;
            p{
              margin-left: 10px;
              font-weight: bold;
              span{
                color: #a54848;
                font-style: italic;
                padding-left: 10px;
                font-weight: normal;
              }
            }
          }
          .answer-div{
            padding-left: 35px;
            .form-group{
              padding-top: 6px;
            }
            .cs-dropdown-select{
              .selected-list{
                span
                {
                  font-size: 15px !important;
                }
                .c-btn{
                  padding: 5px 10px;
                }
              }
            }
            .grid-table{
              margin-top: 20px;
              thead{
                td{
                  font-weight: 600;
                }
              }
              td{
                border: 2px solid #eaeaea;
                padding: 10px 20px;
              }
            }
          }
        }
      }
    }
  }
  .datepicker-div{
    background-color: $dv-color-white;
    padding: 0px 10px;
    border: 2px solid $dv-color-border;
    border-radius: 5px;
    width: 390px;
    display: flex;
    align-items: center;
    margin: 20px 10px;
    float: right;
    &>div{
      width: 100%;
      cursor: pointer;
      padding: 3px;
      .icon-div{
        color: $dv-color-green;
        font-size: 25px;
      }
      .date-text{
        padding-left: 10px;
        font-size: 18px;
      }
    }
  }
  .status-row{
    border-bottom: 2px solid $dv-color-border;
  }
  .status-block{
    margin: 0px !important;
    cursor: pointer;
    border-right: 2px solid $dv-color-border;
    padding: 20px 20px;
    position: relative;
    height: 126px;
    &.active, &:hover{
      .img-div{
        background: url('assets/images/icons/dashboard/progress-project-hover-icon.png') no-repeat center !important;
      }
      span{
        display: none !important;
      }
      border-bottom: 4px solid $dv-color-green;

    }
    .status{
      position: relative;
      .title{
        font-size: 21px;
        font-weight: bold;
      }
    }
    .icon-div{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      bottom: 10px;
      right: 10px;
      .img-div
      {
        margin: 0px 10px;
        width: 48px;
        height: 50px;
        right: 0px;
        bottom: 0px;
        color: $dv-color-green;
        font-size:43px;
        line-height: 40px;
        font-weight: 300;
        background: url('assets/images/icons/dashboard/progress-project-icon.png') no-repeat center;
      }
      span{
        color: $dv-color-green;
        font-size: 16px;
        display: inline-table;
        vertical-align: text-top;
        margin: 0px;
        padding: 0px;
      }
    }
  }
  .status-block-lock{
    opacity: .5;
    margin: 0px !important;
    cursor: pointer;
    border-right: 2px solid $dv-color-border;
    padding: 20px 20px;
    position: relative;
    height: 126px;
    span{
      display: none;
    }
    &.active, &:hover{
      span{
        display: block;
      }
      border-bottom: 4px solid $dv-color-green;
      opacity: 1;
    }
    .status{
      position: relative;
      .title{
        font-size: 21px;
        font-weight: bold;
      }
    }
    .icon-div{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      bottom: 10px;
      right: 10px;
      .img-div
      {
        margin: 0px 10px;
        width: 37px;
        height: 50px;
        right: 0px;
        bottom: 0px;
        color: $dv-color-green;
        font-size:43px;
        line-height: 40px;
        font-weight: 300;
        background: url('assets/images/homepage/password-icon.svg') no-repeat center;
        background-size: 100% 100%;
      }
      span{
        color: $dv-color-green;
        font-size: 16px;
        vertical-align: text-top;
        margin: 0px;
        padding: 0px;
      }
    }
  }
  .progress-div{
    margin: 30px 20px;
    .title{
      font-size: 21px;
      font-weight: bold;
      margin: 10px 20px;
    }
    .progress-item{
      padding: 15px 20px;
      .title{
        margin: 0px 0px 20px 0px;
        font-size: 17px;
        font-weight: 400;
      }
      .detail{
        .img{
          margin-right: 15px;
          float: left;
        }
      }
    }
  }
}
.modal-inner-title{
  margin: 5px 0px 15px 0px;
}
