.login{
  .wrapper{
    width: 480px;
    margin: 0px auto;
    padding: 80px 0px;
    color: $dv-color-grey;
    .logo{
      text-align: center;
    }
    .form{
      background-color: $dv-bg-sub;
      border: 2px solid $dv-color-border;
      margin-top:50px;
      padding: 40px 15px;
      h2{
        font-size: 25px;
        line-height: 35px;
        font-weight: 500;
      }
      .row{
        padding:0px 30px;
      }
      .remember-me{
        padding-bottom: 30px;
      }
      .social-login-div{
        position: relative;
        padding-top: 30px;
        border-top: 2px solid $dv-color-border;
        &:before{
          font-size: 16px;
          content: 'Or login with';
          background-color: #fff;
          position: absolute;
          top: -10px;
          left: 50%;
          margin-left: -82px;
          padding: 0px 30px;
          font-weight: 300;
        }
        .button{
          img{
            margin-top: -8px;
            margin-right: 12px
          }
          border: none;
          color: $dv-color-green;
          font-size: 18px;
          padding:11px 0px;
          background-color: #f2f2f2;
        }
      }
      .form-group{
        input[type='checkbox']{
          width: 20px;
        }
        .back-button{
          span{
            padding-left: 10px;
            color: $dv-color-green;
          }
        }
        .button{
          width: 100%;
          text-align: center;
        }
      }
    }
    .bottom-div{
      text-align: center;
      margin-top: 25px;
      a{
        font-size: 16px;
        line-height: 40px;
      }
    }
  }
  .captcha-div{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
