.register{
  .wrapper{
    width: 720px;
    margin: 0px auto;
    padding: 80px 0px;
    .logo{
      text-align: center;
    }
    .wizard-progress{
      padding-top: 50px;
      width: 250px;
      margin: auto;
      position: relative;
      .line{
        position: absolute;
        left: 0px;
        z-index: -1;
        top: calc( 50% + 25px );
        border-bottom: 2px solid #eee;
        width: 100%;
        &.passed{
          border-bottom: 2px solid $dv-color-green;
        }
      }
      .step{
        z-index: 1;
        border: 2px solid $dv-color-green;
        background-color: $dv-bg-main;
        color: $dv-color-green;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &.active{
          color: $dv-bg-sub;
          background-color: $dv-color-green-active;
        }
        b{
          margin: auto;
          font-size: 20px;
        }
      }
    }
    .form{
      background-color: $dv-bg-sub;
      border: 2px solid $dv-color-border;
      margin-top:50px;
      padding: 30px;
      label.required{
        position: relative;
        &::before{
          content: '*';
          font-size: 20px;
          display: block;
          position: absolute;
          left: -7px;
        }
        color: #a73729;
        &.success{
          color: $dv-color-green;
        }
      }

      .has-success
      {
        label.required{
          &::before{
            content: ' ';
          }
          color: $dv-color-green;
        }
      }
      &.form2{
        width: 430px;
        margin-left: auto;
        margin-right: auto;
      }
      &.form3{
        width: 430px;
        margin-left: auto;
        margin-right: auto;
      }
      .cs-alert-danger{
        color: $dv-alert-danger;
        text-align: center;
      }
      h2{
        font-size: 25px;
        line-height: 35px;
        font-weight: 500;
        text-align: center;
      }
      .form-group{
        .back-button{
          span{
            padding-left: 10px;
            color: $dv-color-green;
          }
        }
        .button{
          padding:7px 40px;
        }
      }
      .extra-info-div{
        position: relative;
        margin-top: 45px;
        padding-top: 30px;
        border-top: 2px solid $dv-color-border;
        .extra-border-title{
          font-size: 16px;
          background-color: #fff;
          position: absolute;
          top: -10px;
          left: 50%;
          margin-left: -82px;
          padding: 0px 30px;
          font-weight: 400;
        }
      }
    }
    .bottom-div{
      text-align: center;
      margin-top: 25px;
      a{
        font-size: 16px;
        line-height: 40px;
      }
    }
  }
  .captcha-div{
    margin: 25px auto;
    width: 302px;
  }
}
