<div class="header ">
	<section class="clearfix">
		<div class="logo-div clearfix">
				<a class="logo-img" routerLink="/"></a>
				<div class="nav-icon" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
				</div>
		</div>

		<div class="nav collapse" id="navbar">
			<div class="nav-content clearfix">
				<ul class="">
					<li><a routerLink="/" class="active">Home</a></li>
					<li><a routerLink="/faq">FAQ's</a></li>
					<li><a routerLink="/testimonial">Testimonials</a></li>
					<li><a routerLink="/news">News</a></li>
					<li><a routerLink="/contact">Contact Us</a></li>
				</ul>
				<div class="action-div">
					<a routerLink="/register" class="get-started button">Get Started <i>for free</i></a>
					<a *ngIf="!isLoggedIn" routerLink="/login" class="login button">Log in</a>
					<a *ngIf="isLoggedIn" routerLink="{{dashboardUrl}}" class="login button">Dashboard</a>
					<a *ngIf="isLoggedIn" routerLink="/logout" class="login button">Log Out</a>
				</div>
			</div>
		</div>
	</section>
</div>
