<div class="membership-page">
  <div class="wrapper clearfix">
    <div class="content1">
      <section>
        <h2>Pricing &amp; Plans</h2>
        <div class="row">
          <div class="col-md-12">
            <table>
              <thead>
                <tr>
                  <td width="40%" class="no-border"></td>
                  <td rowspan="2" class="td-premium td-plan" [class.td-select]="plan_type == 'Premium'" >
                    <span class="star-icon" *ngIf="plan_type == 'Premium'"> <img src="/assets/images/icons/membership/star.png" alt=""> </span>
                    <span class="sp-type">Premium</span>
                    <span class="sp-price"><i>$</i>{{this.adminSetting.PremiumFee}}<span class="sp_duration">/month</span></span>
                    <span class="sp-desc">billed annually</span>
                  </td>
                  <td rowspan="2" class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'">
                    <span class="star-icon" *ngIf="plan_type == 'Professional'"> <img src="/assets/images/icons/membership/star.png" alt=""> </span>
                    <span class="sp-type">Professional</span>
                    <span class="sp-price"><i>$</i>{{this.adminSetting.ProfessionalFee}}<span class="sp_duration">/month</span></span>
                    <span class="sp-desc">billed annually</span>
                  </td>
                  <td rowspan="2" class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'">
                    <span class="star-icon" *ngIf="plan_type == 'Enterprise'"> <img src="/assets/images/icons/membership/star.png" alt=""> </span>
                    <span class="sp-type">Enterprise</span>
                    <span class="sp-price"><i>$</i>{{this.adminSetting.EnterpriseFee}}<span class="sp_duration">/month</span></span>
                    <span class="sp-desc">billed annually</span>
                  </td>
                  <td rowspan="2" class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'">
                    <span class="star-icon" *ngIf="plan_type == 'Onedone'"> <img src="/assets/images/icons/membership/star.png" alt=""> </span>
                    <span class="sp-type">One &amp; Done</span>
                    <span class="sp-price"><i>$</i>{{this.adminSetting.OnedoneFee}}<span class="sp_duration">/month</span></span>
                    <span class="sp-desc">one-time payment</span>
                  </td>
                </tr>
                <tr>
                  <td class="desc-title">IT Risk & Opportunities Due Diligence</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Application (Back-office, Operational, Industry, Desktop && Custom)</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>Infrastructure (Network, Servers &amp; Workstations)</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Organization (People, Processes & Policies)</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Projects (Current &amp; Future)</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Budget (CapEx &amp; OpEx)</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>Heat Map (Risks &amp; Opportunities)</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>Secure Online Due Diligence Report With Heat Map</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>Daily Updates With Progress Reports</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>Up to 3 Users</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span class="disable"></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span class="disable"></span> </td>
                </tr>
                <tr>
                  <td>Unlimited Users</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>Unlimited Data Storage</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>Report Readout via Conference</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Due Diligence Support(9AM - 5PM CST)</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>Confidential PDF of IT Report</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>Interviews With Key IT & Business Stakeholders</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Roadmap & Recommendations</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Metrics & Best Practices</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Transition Cost &amp; Planinig</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>Transition Service Agreement Review &amp; Recommendations</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
                <tr>
                  <td>Dedicated IT Due Diligence Advisor</td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" > <span class="disable"></span> </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'"> <span></span> </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'"> <span></span> </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="no-border"></td>
                  <td class="td-premium td-plan"  [class.td-select]="plan_type == 'Premium'" >
                    <a (click)="continue('Premium')" class="signup button">Free Trial</a>
                  </td>
                  <td class="td-professional td-plan" [class.td-select]="plan_type == 'Professional'">
                    <a (click)="continue('Professional')" class="signup button">Free Trial</a>
                  </td>
                  <td class="td-enterprise td-plan" [class.td-select]="plan_type == 'Enterprise'">
                    <a (click)="continue('Enterprise')" class="signup button">Free Trial</a>
                  </td>
                  <td class="td-onedone td-plan" [class.td-select]="plan_type == 'Onedone'">
                    <a (click)="continue('Onedone')" class="signup button">Free Trial</a>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </section>
    </div>
    <div class="content2">
      <section>
        <h2>IT Due Diligence Comparision</h2>
        <table>
          <thead>
            <tr>
              <td class="no-border"></td>
              <td>
                <a routerLink="/"><img src="assets/images/logo/logo.png" width="226" height="34" alt=""></a>
              </td>
              <td class="orange"> Boutique Advisors</td>
              <td class="red"> Big 4 Advisors </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Average IT Dule Diligence Cost</td>
              <td class="green">
                <span class="sp-price"><i>$</i>{{this.adminSetting.PremiumFee}}<span class="sp_duration">/month</span></span>
                <span class="sp-desc">(Unlimited Reports)</span>
              </td>
              <td class="orange">
                <span class="sp-price"><i>$</i>40,000<span class="sp_duration">/report</span></span>
                <span class="sp-desc">(For 1 Report)</span>
              </td>
              <td class="red">
                <span class="sp-price"><i>$</i>80,000<span class="sp_duration">/report</span></span>
                <span class="sp-desc">(For 1 Report)</span>
              </td>
            </tr>
            <tr>
              <td>Average Deal Speed</td>
              <td class="green">
                <span class="sp-desc">2 days</span>
              </td>
              <td class="orange">
                <span class="sp-desc">20 days</span>
              </td>
              <td class="red">
                <span class="sp-desc">30 days</span>
              </td>
            </tr>
            <tr>
              <td>Average Consistency</td>
              <td class="green">
                <span class="sp-desc">95%</span>
              </td>
              <td class="orange">
                <span class="sp-desc">50%</span>
              </td>
              <td class="red">
                <span class="sp-desc">80%</span>
              </td>
            </tr>
            <tr>
              <td>Average Automation</td>
              <td class="green">
                <span class="sp-desc">95%</span>
              </td>
              <td class="orange">
                <span class="sp-desc">10%</span>
              </td>
              <td class="red">
                <span class="sp-desc">10%</span>
              </td>
            </tr>
            <tr>
              <td>Unlimted Data Storage</td>
              <td class="green">
                <span class="sp-desc">Yes</span>
              </td>
              <td class="orange">
                <span class="sp-desc">No</span>
              </td>
              <td class="red">
                <span class="sp-desc">No</span>
              </td>
            </tr>
            <tr>
              <td>Unlimited Projects</td>
              <td class="green">
                <span class="sp-desc">Yes</span>
              </td>
              <td class="orange">
                <span class="sp-desc">No</span>
              </td>
              <td class="red">
                <span class="sp-desc">No</span>
              </td>
            </tr>
            <tr>
              <td>24/7 Access & Support</td>
              <td class="green">
                <span class="sp-desc">Yes</span>
              </td>
              <td class="orange">
                <span class="sp-desc">No</span>
              </td>
              <td class="red">
                <span class="sp-desc">No</span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
