<div class="admin-dashboard">
  <div class="loading-div" *ngIf="loading"></div>
  <ng-container *ngIf="!loading">
    <div class="row">
      <div class="col-md-12 datepicker-div clearfix">
        <div daterangepicker [options]="options" (selected)="selectedDate($event)">
          <span class="icon-div"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;<b class="caret"></b></span>
          <span class="date-text">{{daterange.label}}</span>
        </div>
      </div>
    </div>
    <div class="row first-row">
      <div class="col-md-3 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Total Projects</p>
          <div [inlineSVG]="'../assets/images/icons/dashboard/assessments-icon.svg'"></div>
        </div>
        <p class="value pull-right">{{statusInfoArr['total']}} <span class="status-img" [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
      <div class="col-md-3 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Total Completes</p>
          <div [inlineSVG]="'../assets/images/icons/dashboard/complete-icon.svg'"></div>
        </div>
        <p class="value pull-right">{{statusInfoArr['completed']}} <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
      <div class="col-md-3 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Total Holds</p>
          <div [inlineSVG]="'../assets/images/icons/dashboard/pending-icon.svg'"></div>
        </div>
        <p class="value pull-right">{{statusInfoArr['hold']}} <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
      <div class="col-md-3 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Total In Progress</p>
          <div [inlineSVG]="'../assets/images/icons/dashboard/not-started-icon.svg'"></div>
        </div>
        <p class="value pull-right">{{statusInfoArr['in_progress']}} <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Number of HRDD</p>
          <div [inlineSVG]="'../assets/images/icons/dashboard/assessments-icon.svg'"></div>
        </div>
        <p class="value pull-right">1 <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
      <div class="col-md-3 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Number of ODD</p>
          <div [inlineSVG]="'../assets/images/icons/dashboard/assigned-icon.svg'"></div>
        </div>
        <p class="value pull-right">1 <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
      <div class="col-md-3 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Number by Country</p>
          <div [inlineSVG]="'../assets/images/icons/dashboard/complete-icon.svg'"></div>
        </div>
        <p class="value pull-right">1 <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
      <div class="col-md-3 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Number by Industry</p>
          <div [inlineSVG]="'../assets/images/icons/dashboard/pending-icon.svg'"></div>
        </div>
        <p class="value pull-right">1 <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Number of Initiators</p>
          <div [inlineSVG]="'../assets/images/icons/dashboard/assessments-icon.svg'"></div>
        </div>
        <p class="value pull-right">{{statusInfoArr.num_initiators}} <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
      <div class="col-md-3 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Number of Owners</p>
          <div [inlineSVG]="'../assets/images/icons/dashboard/assigned-icon.svg'"></div>
        </div>
        <p class="value pull-right">{{statusInfoArr.num_owners}} <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
      <div class="col-md-3 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Number of Team<br>Members</p>
        </div>
        <p class="value pull-right">{{statusInfoArr.num_members}} <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
      <div class="col-md-3 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Number of Users<br>by Industry</p>
        </div>
        <p class="value pull-right">1 <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Average Duration<br>to Complete</p>
          <div [inlineSVG]="'../assets/images/icons/dashboard/assessments-icon.svg'"></div>
        </div>
        <p class="value pull-right">1 <span class="top">days</span> <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
      <div class="col-md-4 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Average DealValue Score</p>
          <div [inlineSVG]="'../assets/images/icons/dashboard/assigned-icon.svg'"></div>
        </div>
        <p class="value pull-right">1 <span class="top">%</span> <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
      <div class="col-md-4 status-block clearfix">
        <div class="status pull-left">
          <p class="title">Average Number of Reports<br>per Initiator</p>
        </div>
        <p class="value pull-right">1 <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4 status-block clearfix">
          <div class="status pull-left">
            <p class="title">Total Orders</p>
            <div [inlineSVG]="'../assets/images/icons/dashboard/assessments-icon.svg'"></div>
          </div>
          <p class="value pull-right"> <span class="top">$</span> 1 <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
        </div>
        <div class="col-md-4 status-block clearfix">
          <div class="status pull-left">
            <p class="title">Assigned</p>
            <div [inlineSVG]="'../assets/images/icons/dashboard/assigned-icon.svg'"></div>
          </div>
          <p class="value pull-right"> <span class="top">$</span> 1 <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
        </div>
        <div class="col-md-4 status-block clearfix">
          <div class="status pull-left">
            <p class="title">Complete</p>
            <div [inlineSVG]="'../assets/images/icons/dashboard/complete-icon.svg'"></div>
          </div>
          <p class="value pull-right">1 <span [inlineSVG]="'../assets/images/icons/dashboard/up-arrow-icon.svg'"></span></p>
        </div>
      </div>
    <div class="row">
      <div class="form-group button-div clearfix">
        <div class="pull-right">
          <span class="desc">View: </span>
          <button type="button"  class="btn button">Week</button>
          <button type="button"  class="btn button">Month</button>
          <button type="button"  class="btn button">Year</button>
          <button type="button"  class="btn button">Total</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
