<div class="assets reset-password">
  <div class="wrapper">
    <div class="logo">
      <a routerLink="/"><img src="assets/images/logo/logo-register.png" width="226" height="34" alt=""></a>
    </div>
    <form (ngSubmit) = "onSubmitForgot()" #form="ngForm" class="form">
      <div class="row">
        <div class="col-md-12 form-group">
          <h2>Reset your password</h2>
          <p *ngIf="Updated" class="success">New password is set successfully.</p>
          <p *ngIf="hasError" class="error">{{ErrorString}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group"
          [ngClass]="{
            'has-error': password.invalid && password.touched,
            'has-success': password.valid && password.touched
          }">
          <label for="password" class="required">New Password:</label>
          <input type="password" validateEqual="passwordConfirm" reverse="true" placeholder="Create Password" name="password" #password = "ngModel" [(ngModel)] = "Password" value=""  required pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
          <span class="help-block" *ngIf="password.errors && password.errors.required  && password.touched">Password is required</span>
          <span class="help-block" *ngIf="password.errors && password.errors.pattern && password.touched">Password should have at least one UpperCase, LowerCase, Number or SpecialChar and min 8 Chars</span>
        </div>
        <div class="col-md-12 form-group"
          [ngClass]="{
            'has-error': passwordConfirm.invalid && passwordConfirm.touched,
            'has-success': passwordConfirm.valid && passwordConfirm.touched
          }">
          <label for="passwordConfirm" class="required">Confirm Password:</label>
          <input type="password"  validateEqual="password" placeholder="Confirm Password" name="passwordConfirm" #passwordConfirm = "ngModel" [(ngModel)] = "PasswordConfirm" value=""  required>
          <span class="help-block" *ngIf="passwordConfirm.errors && passwordConfirm.errors.required  && passwordConfirm.touched">Password is required</span>
          <span class="help-block" *ngIf="passwordConfirm.errors && !passwordConfirm.pristine  && passwordConfirm.touched">Password mismatch</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <a class="back-button" routerLink="/login"><img src="assets/images/icons/assets/back-icon.svg" width="20" height="22" alt="">
          <span>Back to login</span></a>
        </div>
        <div class="col-md-5 col-md-offset-1 form-group clearfix">
          <button type="submit" [disabled] = "form.invalid" class="btn button">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
