.admin-qa-builder-page{
  $green-light: #60a628;
  $green-dark: #3c434d;
  $green: #43731c;
  font-size: 20px;
  .sub-header{
    padding: 20px;
    .title{
      font-size: 21px;
      font-weight: bold;
    }
    .back-button{
      &>img{
        // -ms-transform: rotate(180deg); /* IE 9 */
        // -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        // transform: rotate(180deg);
      }
    }
    .button-div{
      .button{
        font-size: 17px;
        padding: 4px 17px;
      }
    }
  }
  .table{
    font-size: 17px;
    width: 100%;
    td{
      vertical-align: middle !important;
      &>span{
        padding:0px 5px;
      }
      .img{
        float: left;
        padding:0px 5px;
        display: block;
        cursor: pointer;
      }
      .move-icon-down{
      }
      .move-icon-up{
        &>svg{
          -ms-transform: rotate(180deg); /* IE 9 */
          -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
          transform: rotate(180deg);
        }
      }
      .remove-icon{
      }
      .cs-select{
        float: left;
        padding-left: 10px;
      }
      input{
        background-color: $dv-color-white;
      }
    }
    tbody{
      td{
        color: $dv-color-grey;
        &>div{
          display: flex;
          align-items: center;
          .label-input{
            width: 100%;
          }
          .question{
            padding-left: 16px;
          }
          .add-button{
            float: right;
            position: relative;
            cursor: pointer;
            &::before{
              content: '+';
              display: block;
              float: left;
              font-weight: 300;
              margin-left: 15px;
              top:0px;
              width: 17px;
              -webkit-transform:scale(2.0, 2.0);
              -moz-transform:scale(2.0, 2.0);
              -ms-transform:scale(2.0, 2.0);
              -o-transform:scale(2.0, 2.0);
              transform:scale(2.0,2.0);
            }
          }
        }
      }
    }
    th,td{
      border-top: 2px solid $dv-color-border !important;
      border: 2px solid $dv-color-border;
      padding: 14px 14px;
      font-weight: 400;
      color: $dv-color-primary;
      &:first-of-type{
        border-left: none;
      }
      &:last-of-type{
        border-right: none;
      }
      &.status{
        width: 150px;
      }
    }
  }
}
