.admin-report-page{
  .row{
    margin: 0px;
    &.first-row{
      border-top: 2px solid $dv-color-border;
    }
  }

  .button-div{
    padding: 30px 30px 10px;
    .status-p{
      font-size: 26px;
      font-weight: bold;
      color: $dv-color-orange;
    }
  }
  .no_report{
    text-align: center;
    margin-top: 20px;
  }
  .content-div{
    margin: 20px;
    position: relative;
    border: 2px solid $dv-color-border;
    display: flex;
    .report-inner-sidebar{
      flex: 0 0 300px;
      background-color: $dv-bg-dashboard;
      display: block;
      padding: 0px; margin: 0px;
      border-right: 2px solid $dv-color-border;
      .nav-tabs {
          border-bottom: none;
      }
      ul{
        position: relative;
        list-style: none;
        padding: 0px;
        margin: 0px;
        font-size: 18px;
        width: 100%;
        letter-spacing: 0.6px;
        &>li{
          &>a.active{
            background-color: $dv-color-green;
            color: $dv-color-white;
          }
          &>a.submenu{
            &::after{
              position: absolute;
              content: '';
              display: block;
              right: 23px;
              top: 0px;
              width: 42px;
              height: 42px;
              font-size: 35px;
              line-height: 35px;
            }
            &.open::after{
              content: '-';
              width: 15px;
              -webkit-transform:scale(2.0, 1.0);
              -moz-transform:scale(2.0, 1.0);
              -ms-transform:scale(2.0, 1.0);
              -o-transform:scale(2.0, 1.0);
              transform:scale(2.0,1.0);
            }
            &.collapsed::after{
              width: 21px;
              content: '+';
            }
          }
          a{
            display: block;
            position: relative;
            width: 100%;
            line-height: 40px;
            color: $dv-color-primary;
            font-size: 17px;
            font-weight: 400;
            padding-left: 15px;
            &:hover{
              background-color: $dv-color-green;
              color: $dv-color-white;
            }
            &.open{
              &+ul{
                display: block;
              }
            }
            &.collapsed{
              &+ul{
                display: none;
              }
            }
          }
          ul{
            a{
              padding-left: 30px;
            }
            ul{
              a{
                padding-left: 45px;
              }
              ul{
                a{
                  padding-left: 60px;
                }
                ul{
                  a{
                    padding-left: 75px;
                  }
                  ul{
                    a{
                      padding-left: 90px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .content-inner{
      padding: 40px 0px;
      height: 100%;
      width: calc( 100% - 300px);
      flex: 1;
      display: block;
      h2{
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: bold;
      }
      p{
        font-weight: 300;
        font-size: 17px;
        line-height: 29px;
      }
      .cover_page{
        padding: 0px 30px;
        .logo-img-div{
          display: flex;
          align-items: center;
          .check-image{
            margin: 10px 20px 0px 0px;
          }
        }
        h2{
          font-weight: bold;
          margin-top: 40px;
          margin-bottom: 40px;
        }
        h3{
          margin-top: 30px;
          margin-bottom: 20px;
        }
        .page-content{
          .content-item-div{
            margin: 15px 0px;
            padding: 0px;
            .title{
              font-weight: bold;
              font-size: 19px;
              margin-top: 30px;
              &:first-of-type{
                margin-top: 0px;
              }
            }
            .detail{
              color: $dv-color-grey;
              >span{
                display: block;
                font-size: 17px;
                line-height: 30px;
                &.address_info_span{
                  display: flex;
                  align-items: center;
                  span{
                    margin-right: 5px;
                  }
                }
              }
            }
          }
        }
      }
      .methdology_page{
        p{
          color:$dv-color-grey;
        }
        padding: 0px 30px;
        .property-item-div{
          margin: 0px;
          padding: 0px;
          .title{
            color: $dv-color-green;
            font-style: italic;
            font-size: 20px;
          }
          ul{
            padding-left:24px;
            list-style: none;
            li{
              font-weight: 300;
              font-size: 17px;
              padding: 6px 0px;
              color: $dv-color-grey;
              &::before{
                content: '';
                display: block;
                position: absolute;
                left: 0px;
                margin-top: 9px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $dv-color-grey;
              }
            }
          }
        }
        .methdology-bottom-content{
          display: flex;
          justify-content: space-between;
          .approach-item-div{
            flex: 1;
            .title{
              color: $dv-color-green;
              font-style: italic;
              font-size: 20px;
            }
            ul.main-ul{
              padding-left:24px;
              margin-left: 30px;
              list-style: none;
              position: relative;
              >li{
                font-weight: 300;
                font-size: 17px;
                padding: 6px 0px;
                color: $dv-color-grey;
                &::before{
                  content: '';
                  display: block;
                  position: absolute;
                  left: 0px;
                  margin-top: 9px;
                  width: 8px;
                  height: 8px;
                  border-radius: 50%;
                  background-color: $dv-color-grey;
                }
                ul{
                  list-style: disc;
                  padding-left: 35px;
                  >li{
                    font-weight: 300;
                    font-size: 17px;
                    padding: 4px 0px;
                    color: $dv-color-grey;
                  }
                }
              }
            }
          }
          .green-arrow-div{
            flex: 0 0 50px;
            position: relative;
            background-color: $dv-color-green-active;
            >div{
              text-align: center;
              height: 100%;
              p{
                color: $dv-color-white;
                position: absolute;
                white-space: nowrap;
                transform: rotate(-90deg);
                left: -174px;
                top: 50%;
              }
              &:after{
                content: '';
                display: block;
                width: 0;
                height: 0;
                left: -25px;
                bottom: -23px;
                position: absolute;
                border-style: solid;
                border-width: 40px 50px 0 50px;
                border-color: $dv-color-green-active transparent transparent transparent;
              }
            }
          }
        }
      }
      .executive_page{
        p{
          color:$dv-color-grey;
        }
        padding: 0px 30px;
      }
      .heat_map_page{
        padding: 0px 30px;
        .header-title-div
        {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 25px;
          h2{
            margin: 0px;
          }
          .edit-icon{
            float: right;
            cursor: pointer;
            font-size: 20px;
            color: $dv-color-green;
          }
        }
        .heatmap_content{
          .title{
            font-size: 21px;
            font-weight: bold;
            margin: 0px;
          }
          table
          {
            width: 100%;
            font-size: 16px;
            font-weight: 600;
            margin-top: 10px;
            td{
              position: relative;
              text-align: center;
              vertical-align: middle;
              font-weight: 600;
              &:first-of-type{
                text-align: left;
              }
              .img{
                margin-right: 10px;
                display: flex;
              }
              padding: 12px 5px;
            }
            thead {
              &>tr>td {
                &>div {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
            }
            tbody{

            }
          }
          table.table1{
            tbody{
              td{
                .img{
                  margin-right: 15px;
                  float: left;
                }
                &.color-block{
                  >span{
                    height: 35px;
                    width: calc(100% - 10px);
                    background-color: $dv-bg-main;
                    display: block;
                    cursor: pointer;
                  }
                  &.green{
                    >span{
                      background-color: $dv-color-green;
                    }
                  }
                  &.yellow{
                    >span{
                      background-color: $dv-color-yellow;
                    }
                  }
                  &.orange{
                    >span{
                      background-color: $dv-color-orange;
                    }
                  }
                }
              }
            }
          }
          table.table2{
            margin-top: 45px;
            thead{
              th{
                text-align: left;
              }
            }
            tbody {
              &>tr>td {
                &>div {
                  display: flex;
                  align-items: center;
                  justify-content: none;
                  font-weight: 600;
                }
              }
              td{
                color: $dv-color-grey;
                text-align: left;
                font-weight: 400;
                .span_heatmap_type{
                  color: $dv-color-primary;
                }
                &>div{
                  display: flex;
                  align-items: center;
                }
                .img{
                  width: 36px;
                }
                .color{
                  width: 45px;
                  height: 45px;
                  float: left;
                  border-radius: 0px;
                  &.green{
                    background: $dv-color-green;
                  }
                  &.yellow{
                    background: $dv-color-yellow;
                  }
                  &.orange{
                    background: $dv-color-orange;
                  }

                }
                .desc{
                  width: calc( 100% - 60px );
                  line-height: 20px;
                  font-weight: 400;
                  float: left;
                  font-size: 16px;
                  margin-left: 15px;
                  margin-bottom: 0px;
                }
              }
            }
          }
        }
      }
      .key_metrics_page{
        padding: 0px 30px;
        .header-title-div
        {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 25px;
          h2{
            margin: 0px;
          }
          .edit-icon{
            float: right;
            cursor: pointer;
            font-size: 20px;
            color: $dv-color-green;
          }
        }
        .table-div{
          width: 100%;
          .key_metrics_table{
            width: 100%;
            thead{
              th{
                >div{
                  font-weight: bold;
                  padding: 10px 0px;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  div{
                    margin-right: 8px;
                    width: 38px;
                    &.img{
                      fill: $dv-color-green
                    }
                  }
                }
              }
            }
            tbody{
              td{
                text-align: center;
                span{
                  cursor: pointer;
                }
                &.title{
                  text-align: left;
                  font-weight: bold;
                  padding: 10px 0px;
                }
                &.percent{
                  color: $dv-color-grey;
                }
                &.circle{
                  >span{
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin: auto;
                    background-color: $dv-bg-main;
                  }
                  &.orange{
                    >span{
                      background-color: $dv-color-orange;
                    }
                  }
                  &.yellow{
                    >span{
                      background-color: $dv-color-yellow;
                    }
                  }
                  &.green{
                    >span{
                      background-color: $dv-color-green;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .about_page{
        padding: 0px 30px;
        p{
          color:$dv-color-grey;
        }
        a.link{
          font-weight: 400;
        }
        .header-title-div
        {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 25px;
          h2{
            margin: 0px;
          }
          .edit-icon{
            float: right;
            cursor: pointer;
            font-size: 20px;
            color: $dv-color-green;
          }
          .logo-img{
            float: right;
          }
        }
      }
      .dynamic_page{
        .padding-class{
          padding-left: 30px;
          padding-right: 30px;
          margin-bottom: 30px;
        }
        .header-title-div
        {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h2{
            margin: 0px;
          }
          .edit-icon{
            float: right;
            cursor: pointer;
            font-size: 20px;
            color: $dv-color-green;
          }
          .logo-img{
            float: right;
          }
        }
        h4{
          font-size: 20px;
          margin: 35px 0px;
        }
        .qa-table{
          .table-div{
            width: 100%;
            overflow-x: auto;
            &:first-of-type{
              table{
                margin-top: 0px;
              }
            }
          }
          table{
            margin-top: 60px;
          }
        }
        table{
          width: 100%;
          th,td{
            border: 2px solid $dv-color-border;
            padding: 8px 10px;
            &:first-of-type{
              border-left: none;
            }
            &:last-of-type{
              border-right: none;
            }
          }
          th{
            background-color: $dv-bg-main;
            color: $dv-color-dark-grey;
          }
          td{
            color:$dv-color-grey;
            span{
              display: block;
            }
          }
        }
      }
    }
  }

  .datepicker-div{
    background-color: $dv-color-white;
    padding: 0px 10px;
    border: 2px solid $dv-color-border;
    border-radius: 5px;
    width: 390px;
    display: flex;
    align-items: center;
    margin: 20px 10px;
    float: right;
    &>div{
      width: 100%;
      cursor: pointer;
      padding: 3px;
      .icon-div{
        color: $dv-color-green;
        font-size: 25px;
      }
      .date-text{
        padding-left: 10px;
        font-size: 18px;
      }
    }
  }
  .status-row{
    border-bottom: 2px solid $dv-color-border;
  }
  .status-block{
    margin: 0px !important;
    cursor: pointer;
    border-right: 2px solid $dv-color-border;
    padding: 20px 20px;
    position: relative;
    height: 126px;
    &.active, &:hover{
      .img-div{
        background: url('assets/images/icons/dashboard/report-project-hover.png') no-repeat center !important;
      }
      span{
        display: none !important;
      }
      border-bottom: 4px solid $dv-color-green;

    }
    .status{
      position: relative;
      .title{
        font-size: 21px;
        font-weight: bold;
      }
    }
    .icon-div{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      bottom: 10px;
      right: 10px;
      .img-div
      {
        margin: 0px 10px;
        width: 48px;
        height: 50px;
        right: 0px;
        bottom: 0px;
        color: $dv-color-green;
        font-size:43px;
        line-height: 40px;
        font-weight: 300;
        background: url('assets/images/icons/dashboard/report-project.png') no-repeat center;
      }
      span{
        color: $dv-color-green;
        font-size: 16px;
        display: inline-table;
        vertical-align: text-top;
        margin: 0px;
        padding: 0px;
      }
    }
  }
  .progress-div{
    margin: 30px 20px;
    .title{
      font-size: 21px;
      font-weight: bold;
      margin: 10px 20px;
    }
    .progress-item{
      padding: 15px 20px;
      .title{
        margin: 0px 0px 20px 0px;
        font-size: 17px;
        font-weight: 400;
      }
      .detail{
        .img{
          margin-right: 15px;
          float: left;
        }
      }
    }
  }
}
.modal-inner-title{
  margin: 5px 0px 15px 0px;
}
.key_metrics_modal{
  table{
    width: 100%;
    th{
      background: $dv-bg-dashboard;
      color: $dv-color-primary;
    }
    th, td{
      border: 2px solid $dv-color-border;
      padding: 5px 10px;
    }
  }
  .table1{
    td{
      &.color{
        >span{
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin: auto;
        }
        &.orange{
          >span{
            background-color: $dv-color-orange;
          }
        }
        &.yellow{
          >span{
            background-color: $dv-color-yellow;
          }
        }
        &.green{
          >span{
            background-color: $dv-color-green;
          }
        }
      }
    }
  }
  .table2{
    margin-top:20px;
    td{
      input{
        border: none;
        background-color: transparent;
        padding: 0px;
        margin: 0px;
        width: 100%;

      }
      .popover-content{
        padding: 0px;
      }
      .popover-title{
        font-style: italic;
        font-weight: bold;
        color: #f27a08;
      }
      textarea{
        border: none;
      }
      .custom-select{
        background-color: $dv-bg-sub;
        border: none;
        cursor: pointer;
        &.orange{
          background-color: $dv-color-orange;
        }
        &.yellow{
          background-color: $dv-color-yellow;
        }
        &.green{
          background-color: $dv-color-green;
        }
      }
    }
  }
}
.heatmap_modal{
  table{
    width: 100%;
    th{
      background: $dv-bg-dashboard;
      color: $dv-color-primary;
    }
    th, td{
      border: 2px solid $dv-color-border;
      padding: 5px 10px;
    }
  }
  .table1{
    td{
      &.orange{
        background-color: $dv-color-orange;
      }
      &.yellow{
        background-color: $dv-color-yellow;
      }
      &.green{
        background-color: $dv-color-green;
      }
      &.desc{
        padding: 0px;
        textarea{
          border: none;
          background-color: $dv-color-white;
        }
      }
    }
  }
  .table2{
    margin-top:20px;
    td{
      input{
        border: none;
        background-color: transparent;
        padding: 0px;
        margin: 0px;
        width: 100%;

      }
      .popover-content{
        padding: 0px;
      }
      .popover-title{
        font-style: italic;
        font-weight: bold;
        color: #f27a08;
      }
      textarea{
        border: none;
      }
      &.orange{
        background-color: $dv-color-orange;
      }
      &.yellow{
        background-color: $dv-color-yellow;
      }
      &.green{
        background-color: $dv-color-green;
      }
    }
  }
}
