.admin-user-page{
  font-size: 20px;
  .sub-header{
    padding: 20px;
    .title{
      font-size: 21px;
      font-weight: bold;
    }
    .button-div{
        text-align: right;
    }
    .button{
      padding: 4px 23px;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .nav-tabs{
    border-bottom: none !important;
    >li{
      >a{
        border: none !important;
        border-radius: 0px !important;
        font-size: 17px;
        padding: 10px 30px;
        &:hover, &:active{
          background-color: $dv-color-green !important;
          color: #fff !important;
        }
      }
      &.active{
        >a{
            background-color: $dv-color-green !important;
            color: #fff !important;
        }
      }
    }
  }
  .table{
    font-size: 17px;
    width: 100%;
    td{
      vertical-align: middle !important;
      &>span{
        padding:0px 5px;
      }
      .short-name{
        font-size: 14px;
        width: 32px;
        line-height: 32px;
        text-align: center;
        display: inline-block;
        margin-right: 20px;
        color:#fff;
        background-color: $dv-color-green;
        border-radius: 50%;
        text-transform: uppercase;
      }
      input{
        background-color: $dv-color-white;
      }
    }
    thead{
      background-color: $dv-bg-dashboard;
      td{
        font-weight: 600;
      }

    }
    tbody{
      td{
        color: $dv-color-grey;
        &>div{
          display: flex;
          align-items: center;
          &.report{
            a{
              padding-left: 15px;
            }
          }
          .desc{
            &.score{
              font-weight: bold;
              color:$dv-color-primary;
            }
          }
        }
        .user-project-div{
          display: flex;
          align-items: center;
          .div1{
            flex: 1 0 50%;
            font-weight: bold;
          }
          .div2{
            flex: 1 0 50%;
          }
        }
      }
    }
    th,td{
      border-top: 2px solid $dv-color-border !important;
      border: 2px solid $dv-color-border;
      padding: 14px 14px;
      font-weight: 400;
      color: $dv-color-primary;
      &:first-of-type{
        border-left: none;
      }
      &:last-of-type{
        border-right: none;
      }
      &.status{
        width: 150px;
      }
    }
  }
}
