<div class="price-page">
  <div class="sub-header">
    <section>
      <ul>
        <li> <span class="subheader-svg-icon" [inlineSVG]="'/assets/images/icons/membership/reduce-icon.svg'"></span> <span>Reduce Risk</span></li>
        <li> <span class="subheader-svg-icon" [inlineSVG]="'/assets/images/icons/membership/increase-icon.svg'"></span> <span>Increase Opportunities</span></li>
        <li> <span class="subheader-svg-icon" [inlineSVG]="'/assets/images/icons/membership/drive-value-icon.svg'"></span> <span>Drive Value</span></li>
        <li> <span class="subheader-svg-icon" [inlineSVG]="'/assets/images/icons/membership/efficient-icon.svg'"></span> <span>Fast and Efficient</span></li>
        <li> <span class="subheader-svg-icon" [inlineSVG]="'/assets/images/icons/membership/reduce-icon.svg'"></span>  <span>Secure and Confidential</span></li>
      </ul>
    </section>
  </div>
  <section>
    <div class="wrapper clearfix">
      <div class="content">
        <h2>Pricing Options</h2>
        <div class="row">
          <div class="col-md-12">
            <table>
              <thead>
                <tr>
                  <td width="40%" class="no-border"></td>
                  <td rowspan="2" class="td-free td-plan">
                    <span class="sp-type">Free</span>
                    <span class="sp-price"><i>$</i>0<span class="sp_float">.00</span></span>
                  </td>
                  <td rowspan="2" class="td-premium td-plan">
                    <span class="sp-type">Premium</span>
                    <span class="sp-price"><i>$</i>9,995<span class="sp_float">.00</span></span>
                  </td>
                  <td rowspan="2" class="td-professional td-plan">
                    <span class="star-icon"> <img src="/assets/images/icons/membership/star.png" alt=""> </span>
                    <span class="sp-type">Professional</span>
                    <span class="sp-price"><i>$</i>19,995<span class="sp_float">.00</span></span>
                  </td>
                  <td rowspan="2" class="td-enterprise td-plan">
                    <span class="sp-type">Enterprise</span>
                    <span class="sp-price"><i>$</i>29,995<span class="sp_float">.00</span></span>
                  </td>
                </tr>
                <tr>
                  <td>IT Risk & Opportunities Due Diligence</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Application (Back-office, Operational, Industry, Desktop && Custom)</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Infrastructure (Network, Servers &amp; Workstations)</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Organization (People, Processes & Policies)</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Projects (Current &amp; Future)</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Budget (CapEx &amp; OpEx)</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Heat Map (Risks &amp; Opportunities)</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Secure Online Due Diligence Report With Heat Map</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Daily Updates With Progress Reports</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Video Conference Interviews With Key IT &amp; Business Stakeholders</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Report Readout via Conference</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Due Diligence Support(9AM - 5PM CST)</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Onsite Interviews With Key IT & Business Stakeholders</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Initiatives & Recommendations</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Transition Cost &amp; Planinig</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Transition Service Agreement Review &amp; Recommendations</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Dedicated IT Due Diligence Advisor</td>
                  <td class="td-free td-plan"> <span></span> </td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="no-border"></td>
                  <td class="td-free td-plan">
                    <a routerLink="/register" [queryParams]="{plan_type:'Free'}" class="signup button">Sign Up</a>
                  </td>
                  <td class="td-premium td-plan">
                    <a routerLink="/register" [queryParams]="{plan_type:'Premium'}" class="signup button">Sign Up</a>
                  </td>
                  <td class="td-professional td-plan">
                    <a routerLink="/register" [queryParams]="{plan_type:'Professional'}" class="signup button">Sign Up</a>
                  </td>
                  <td class="td-enterprise td-plan">
                    <a routerLink="/register" [queryParams]="{plan_type:'Enterprise'}" class="signup button">Sign Up</a>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
