<div class="price-page">
  <div class="sub-header">
    <section>
      <ul>
        <li> <span class="subheader-svg-icon" [inlineSVG]="'/assets/images/icons/membership/reduce-icon.svg'"></span> <span>Reduce Risk</span></li>
        <li> <span class="subheader-svg-icon" [inlineSVG]="'/assets/images/icons/membership/increase-icon.svg'"></span> <span>Increase Opportunities</span></li>
        <li> <span class="subheader-svg-icon" [inlineSVG]="'/assets/images/icons/membership/drive-value-icon.svg'"></span> <span>Drive Value</span></li>
        <li> <span class="subheader-svg-icon" [inlineSVG]="'/assets/images/icons/membership/efficient-icon.svg'"></span> <span>Fast and Efficient</span></li>
        <li> <span class="subheader-svg-icon" [inlineSVG]="'/assets/images/icons/membership/reduce-icon.svg'"></span>  <span>Secure and Confidential</span></li>
      </ul>
    </section>
  </div>
  <div class="wrapper clearfix">
    <div class="content1">
      <section>
        <h2>Promotion Pricing &amp; Plans</h2>
        <p class="title1">All plans are try before you buy. <br/> No payment or credit card required.</p>
        <div class="row">
          <div class="col-md-12">
            <table>
              <thead>
                <tr>
                  <td width="40%" class="no-border"></td>
                  <td rowspan="2" class="td-premium td-plan">
                    <span class="sp-type">Premium</span>
                    <span class="sp-price"><i>$</i>{{this.adminSetting.PremiumFee}}<span class="sp_duration">/month</span></span>
                    <span class="sp-desc">billed annually</span>
                  </td>
                  <td rowspan="2" class="td-professional td-plan">
                    <span class="star-icon"> <img src="/assets/images/icons/membership/star.png" alt=""> </span>
                    <span class="sp-type">Professional</span>
                    <span class="sp-price"><i>$</i>{{this.adminSetting.ProfessionalFee}}<span class="sp_duration">/month</span></span>
                    <span class="sp-desc">billed annually</span>
                  </td>
                  <td rowspan="2" class="td-enterprise td-plan">
                    <span class="sp-type">Enterprise</span>
                    <span class="sp-price"><i>$</i>{{this.adminSetting.EnterpriseFee}}<span class="sp_duration">/month</span></span>
                    <span class="sp-desc">billed annually</span>
                  </td>
                  <td rowspan="2" class="td-onedone td-plan">
                    <span class="sp-type">One &amp; Done</span>
                    <span class="sp-price"><i>$</i>{{this.adminSetting.OnedoneFee}}</span>
                    <span class="sp-desc">one-time payment <i class="custom-tooltip" >?
                      <span class="custom-tooltiptext tooltip-top">
                        One User, One Report and One Time Payment
                      </span>
                    </i></span>
                  </td>
                </tr>
                <tr>
                  <td class="desc-title">IT Risk & Opportunities Due Diligence</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Application (Back-office, Operational, Industry, Desktop && Custom)</td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Infrastructure (Network, Servers &amp; Workstations)</td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Organization (People, Processes & Policies)</td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Projects (Current &amp; Future)</td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Budget (CapEx &amp; OpEx)</td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Heat Map (Risks &amp; Opportunities)</td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Secure Online Due Diligence Report With Heat Map</td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Daily Updates With Progress Reports</td>
                  <td class="td-premium td-plan"> <span></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Number of Users</td>
                  <td class="td-premium td-plan"> <span class="orange">1 User</span> </td>
                  <td class="td-professional td-plan">  <span  class="orange">3 Users</span> </td>
                  <td class="td-enterprise td-plan"> <span  class="green">Unlimited</span> </td>
                  <td class="td-onedone td-plan"> <span class="orange"an>1 User</span> </td>
                </tr>
                <tr>
                  <td>Number of Monthly Reports</td>
                  <td class="td-premium td-plan"> <span class="orange">1</span> </td>
                  <td class="td-professional td-plan"> <span class="orange">3</span> </td>
                  <td class="td-enterprise td-plan"> <span class="green">Unlimited</span> </td>
                  <td class="td-onedone td-plan"> <span class="orange">1</span> </td>
                </tr>
                <tr>
                  <td>Data Storage</td>
                  <td class="td-premium td-plan"> <span class="orange">10GB</span> </td>
                  <td class="td-professional td-plan"> <span class="orange">10GB</span> </td>
                  <td class="td-enterprise td-plan"> <span class="green">Unlimited</span> </td>
                  <td class="td-onedone td-plan"> <span class="orange">10GB</span> </td>
                </tr>
                <tr>
                  <td>Report Readout via Conference</td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>IT Due Diligence Support(9AM - 5PM CST)</td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Confidential PDF of IT Report</td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span></span> </td>
                </tr>
                <tr>
                  <td>Interviews With Key IT & Business Stakeholders</td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span class="disable"></span> </td>
                </tr>
                <tr>
                  <td>IT Roadmap & Recommendations</td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span class="disable"></span> </td>
                </tr>
                <tr>
                  <td>IT Metrics & Best Practices</td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span class="disable"></span> </td>
                </tr>
                <tr>
                  <td>IT Transition Cost &amp; Planinig</td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span class="disable"></span> </td>
                </tr>
                <tr>
                  <td>Transition Service Agreement Review &amp; Recommendations</td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span class="disable"></span> </td>
                </tr>
                <tr>
                  <td>Dedicated IT Due Diligence Advisor</td>
                  <td class="td-premium td-plan"> <span class="disable"></span> </td>
                  <td class="td-professional td-plan"> <span class="disable"></span> </td>
                  <td class="td-enterprise td-plan"> <span></span> </td>
                  <td class="td-onedone td-plan"> <span class="disable"></span> </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="no-border"></td>
                  <td class="td-premium td-plan">
                    <a routerLink="/signup" [queryParams]="{plan_type:'Premium'}" class="signup button">Free Trial</a>
                  </td>
                  <td class="td-professional td-plan">
                    <a routerLink="/signup" [queryParams]="{plan_type:'Professional'}" class="signup button">Free Trial</a>
                  </td>
                  <td class="td-enterprise td-plan">
                    <a routerLink="/signup" [queryParams]="{plan_type:'Enterprise'}" class="signup button">Free Trial</a>
                  </td>
                  <td class="td-onedone td-plan">
                    <a routerLink="/signup" [queryParams]="{plan_type:'Onedone'}" class="signup button">Free Trial</a>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </section>
    </div>
    <div class="content2">
      <section>
        <h2>IT Due Diligence Comparision</h2>
        <table>
          <thead>
            <tr>
              <td class="no-border"></td>
              <td>
                <a routerLink="/"><img src="assets/images/logo/logo.png" width="226" height="34" alt=""></a>
              </td>
              <td class="orange"> Boutique Advisors</td>
              <td class="red"> Big 4 Advisors </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Average IT Dule Diligence Cost</td>
              <td class="green">
                <span class="sp-price"><i>$</i>{{this.adminSetting.PremiumFee}}<span class="sp_duration">/month</span></span>
                <span class="sp-desc">(Unlimited Reports)</span>
              </td>
              <td class="orange">
                <span class="sp-price"><i>$</i>40,000<span class="sp_duration">/report</span></span>
                <span class="sp-desc">(For 1 Report)</span>
              </td>
              <td class="red">
                <span class="sp-price"><i>$</i>80,000<span class="sp_duration">/report</span></span>
                <span class="sp-desc">(For 1 Report)</span>
              </td>
            </tr>
            <tr>
              <td>Average Deal Speed</td>
              <td class="green">
                <span class="sp-desc">2 days</span>
              </td>
              <td class="orange">
                <span class="sp-desc">20 days</span>
              </td>
              <td class="red">
                <span class="sp-desc">30 days</span>
              </td>
            </tr>
            <tr>
              <td>Average Consistency</td>
              <td class="green">
                <span class="sp-desc">95%</span>
              </td>
              <td class="orange">
                <span class="sp-desc">50%</span>
              </td>
              <td class="red">
                <span class="sp-desc">80%</span>
              </td>
            </tr>
            <tr>
              <td>Average Automation</td>
              <td class="green">
                <span class="sp-desc">95%</span>
              </td>
              <td class="orange">
                <span class="sp-desc">10%</span>
              </td>
              <td class="red">
                <span class="sp-desc">10%</span>
              </td>
            </tr>
            <tr>
              <td>Unlimted Data Storage</td>
              <td class="green">
                <span class="sp-desc">Yes</span>
              </td>
              <td class="orange">
                <span class="sp-desc">No</span>
              </td>
              <td class="red">
                <span class="sp-desc">No</span>
              </td>
            </tr>
            <tr>
              <td>Unlimited Projects</td>
              <td class="green">
                <span class="sp-desc">Yes</span>
              </td>
              <td class="orange">
                <span class="sp-desc">No</span>
              </td>
              <td class="red">
                <span class="sp-desc">No</span>
              </td>
            </tr>
            <tr>
              <td>24/7 Access & Support</td>
              <td class="green">
                <span class="sp-desc">Yes</span>
              </td>
              <td class="orange">
                <span class="sp-desc">No</span>
              </td>
              <td class="red">
                <span class="sp-desc">No</span>
              </td>
            </tr>
          </tbody>
        </table>

      </section>
    </div>
  </div>
</div>
