.price-page{
  .sub-header{
    width: 100%;
    height: 80px;
    border-top: 1px solid $dv-color-border;
    border-bottom: 1px solid $dv-color-border;
    background: url('assets/images/homepage/icons-back.png') repeat-x;
    display: flex;
    align-items: center;
    ul{
      list-style: none;
      margin: 0px;
      padding: 0px;
      li{
        display: inline-flex;
        margin-right: 100px;
        span:last-of-type{
          line-height: 30px;
          padding-left: 10px;
        }
        &:last-of-type{
          margin-right: 0px;
        }
      }
    }
    .subheader-svg-icon{
      width: 30px;
      height: 30px;
      fill: $dv-color-green;
    }
  }
  .wrapper{
    padding-top: 45px;
    width: 100%;
    background-color: $dv-bg-sub;
  }
  .content1{
    margin: auto;
    padding-bottom: 50px;
    h2{
      font-weight: 700;
      margin: 0px 0px 40px 0px;
      font-size: 40px;
      text-align: center;
    }
    .title1{
      text-align: center;
      font-size: 27px;
      color: $dv-color-green;
      font-style: italic;
      font-weight: bold;
      margin-bottom: 60px;
    }
    table{
      width: 100%;
      td{
        position: relative;
        border: 1px solid #d9d9d9;
        padding: 22px 13px;
        &.no-border{
          border: none;
          height: 48px;
        }
      }
      thead{
        td{
          font-weight: bold;
          font-size: 30px;
          .star-icon{
            position: absolute;
            top: -26px;
            right: 29px;
          }
          &.desc-title{
            font-size: 25px;
          }
          &.td-plan{
            text-align: center;
            width: 16%;
          }
          .sp-type{
            display: block;
            color: $dv-color-green;
            margin-bottom: 6px;
          }
          .sp-price{
            font-size: 37px;
            letter-spacing: -1px;
            i{
              font-size: 28px;
              font-style: normal;
            }
            .sp_duration{
              letter-spacing: -1px;
              font-weight: 300;
              font-size: 24px;
            }
          }
          .sp-desc{
            font-size: 16px;
            display: block;
            color: $dv-color-grey;
            font-weight: 300;
          }
        }
      }
      tbody{
        td{
          color: $dv-color-grey;
          font-weight: 300;
          font-size: 18px;
          &.td-plan{
            text-align: center;
            span{
              width: 10px;
              height: 10px;
              background-color: $dv-color-green;
              display: block;
              border-radius: 50%;
              margin: auto;
              &.disable{
                background-color: $dv-color-light-grey;
              }
            }
          }
        }
      }
      tfoot{
        td{
          text-align: center;
          a.signup{
            padding: 10px 0px;
            font-size: 22px;
            border: 2px solid $dv-color-green;
            color: $dv-color-green;
            background: $dv-bg-sub;
            display: block;
            margin: auto;
            &:hover{
              color: $dv-bg-sub;
              background: $dv-color-green;
            }
          }
        }
      }
    }
  }
  .content2{
    border-top: 2px solid #eaeaea;
    background-color: $dv-bg-main;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    h2{
      font-weight: 700;
      margin: 0px 0px 40px 0px;
      font-size: 40px;
      text-align: center;
    }
    table{
      width: 100%;
      td{
        position: relative;
        border: 1px solid #d9d9d9;
        padding: 14px 13px;
        text-align: center;
        &.green{
          color: $dv-color-green;
        }
        &.orange{
          color: $dv-color-orange;
        }
        &.red{
          color: $dv-color-red-light;
        }
        &:first-of-type{
          text-align: left;
          font-size: 18px;
          color: $dv-color-grey;
          font-weight: 300;
        }
        &.no-border{
          border: none;
          height: 48px;
        }
        .sp-price{
          font-size: 37px;
          letter-spacing: -1px;
          font-weight: bold;
          i{
            font-size: 28px;
            font-style: normal;
          }
          .sp_duration{
            letter-spacing: -1px;
            font-weight: 300;
            font-size: 24px;
          }
        }
        .sp-desc{
          font-size: 17px;
          display: block;
          font-weight: bold;
        }
      }
      thead{
        td{
          font-size: 29px;
          font-weight: bold;
        }
      }
    }
  }
}
