<div class="header-dashboard">
		<div class="search_div pull-left">
				<input type="text" name="" value="" placeholder="Search Project">
				<a href="javascript:;" class="pull-right" [inlineSVG]="'/assets/images/icons/dashboard/search-icon.svg'"></a>
		</div>
		<div class="project-select" *ngIf="userInfo.Role != 'admin'">
			<ng-select class="cs-select" (selected)="onSelectProject($event)" [options]="projectList" [(ngModel)]="projectID" name="project" placeholder="Project List">
			</ng-select>
		</div>
		<div class="signoff-div">
			<a *ngIf="isSignoff" class="svg button pull-left" routerLink="/app/summary" style="margin-left:20px;">
				<span> <i class="fa fa-send-o"></i> Sign Off</span>
			</a>
		</div>
		<div class="dropdown user-setting">
			<a href="#" class="svg dropdown-toggle" data-toggle="dropdown">
				<span class="short-name">{{shortname}}</span>
				<span class="user-name">{{firstname}}</span>
				<span [inlineSVG]="'/assets/images/icons/dashboard/down-icon.svg'"></span>
			</a>
			<ul class="dropdown-menu" *ngIf="userInfo.Role != 'admin'">
			  <li>
			      <a href="javascript:;"><i class="fa fa-user"></i> Profile</a>
			  </li>
				<li>
			      <a href="javascript:;"><i class="fa fa-cog"></i> Setting</a>
			  </li>
				<li>
			      <a routerLink="/logout"><i class="fa fa-power-off"></i> Logout</a>
			  </li>
			</ul>
			<ul class="dropdown-menu" *ngIf="userInfo.Role == 'admin'">
			  <li>
			      <a href="javascript:;"><i class="fa fa-user"></i> Admin Settings</a>
			  </li>
				<li>
			      <a href="javascript:;"><i class="fa fa-cog"></i> Export Data</a>
			  </li>
				<li>
			      <a routerLink="#"><i class="fa fa-edit"></i> Edit Assessments</a>
			  </li>
				<li>
			      <a routerLink="#"><i class="fa fa-code"></i> Promo Code</a>
			  </li>
				<li>
			      <a routerLink="/logout"><i class="fa fa-power-off"></i> Logout</a>
			  </li>
			</ul>
    </div>
</div>
