<div class="header-dashboard">
		<div class="nav-icon" data-toggle="left-side-bar" (click) = "toggleSidebar()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</div>
		<div class="project-select" *ngIf="userInfo.Role != 'admin' && loadProjectList">
			<ng-select class="cs-select" (selected)="onSelectProject($event)" [options]="projectList" [(ngModel)]="projectID" name="project" placeholder="Project List">
			</ng-select>
			<a href="javascript:;" class="search-icon" [inlineSVG]="'/assets/images/icons/dashboard/search-icon.svg'"></a>
		</div>
		<div class="signoff-div">
			<a class="svg button pull-left"  *ngIf="userInfo.Role != 'admin'" routerLink="/app/project/new" style="margin-left:20px;">
				<span> <i class="fa fa-folder"></i> New Project</span>
			</a>
		</div>
		<div class="submit-div">
			<a *ngIf="isSignoff" class="svg button pull-left" routerLink="/app/summary" style="margin-left:20px;">
				<span> <i class="fa fa-send-o"></i> Ready to Submit</span>
			</a>
		</div>
		<div class="schedule-div">
			<a target="_blank" class="svg button pull-left"  *ngIf="userProjectRole == 'PRIMARY'" href="https://calendly.com/dealvalue/readout" style="margin-left:20px;">
				<span> <i class="fa fa-folder"></i> Schedule Readout</span>
			</a>
		</div>
		<div class="dropdown header-dropdown-menu">
			<a href="#" class="svg dropdown-toggle" data-toggle="dropdown">
				<span class="short-name">{{shortname}}</span>
				<span class="user-name">{{firstname}}</span>
				<span [inlineSVG]="'/assets/images/icons/dashboard/down-icon.svg'"></span>
			</a>
			<ul class="dropdown-menu" *ngIf="userInfo.Role != 'admin'">
			  <li>
			      <a routerLink="user/profile"><i class="fa fa-user"></i> Profile</a>
			  </li>
				<li>
			      <a routerLink="user/membership"><i class="fa fa-user"></i> Subscription</a>
			  </li>
				<li>
			      <a routerLink="user/setting"><i class="fa fa-cog"></i> Settings</a>
			  </li>
				<li>
			      <a routerLink="/logout"><i class="fa fa-power-off"></i> Logout</a>
			  </li>
			</ul>
			<ul class="dropdown-menu" *ngIf="userInfo.Role == 'admin'">
			  <li>
			      <a routerLink="setting"><i class="fa fa-user"></i> Settings</a>
			  </li>
				<li>
			      <a routerLink="promocode"><i class="fa fa-code"></i> Promo Code</a>
			  </li>
				<li>
			      <a routerLink="/logout"><i class="fa fa-power-off"></i> Logout</a>
			  </li>
			</ul>
    </div>
</div>
