<div class="dashboard">
  <!-- <div class="loading-div" *ngIf="loading"></div> -->
  <div class="row">
    <div class="col-md-12 datepicker-div clearfix">
      <div daterangepicker [options]="options" (selected)="selectedDate($event)">
        <span class="icon-div"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;<b class="caret"></b></span>
        <span class="date-text">{{daterange.label}}</span>
      </div>
    </div>
  </div>
  <ng-container *ngIf="userProjectRole == 'MEMBER'">
    <app-dashboard-member [pID]="projectID"></app-dashboard-member>
  </ng-container>

  <ng-container *ngIf="userProjectRole != 'MEMBER'">
    <app-dashboard-owner [pID]="projectID"></app-dashboard-owner>
  </ng-container>
</div>
