<div class="policies-page">
  <div class="sub-header">
    <section>
      <ul>
        <li> <span [inlineSVG]="'/assets/images/icons/homepage/icon1.svg'"></span> <span>Completely Free</span></li>
        <li> <span [inlineSVG]="'/assets/images/icons/homepage/icon2.svg'"></span> <span>Buyer appetite</span></li>
        <li> <span [inlineSVG]="'/assets/images/icons/homepage/icon3.svg'"></span> <span>No Obligation</span></li>
        <li> <span [inlineSVG]="'/assets/images/icons/homepage/icon4.svg'"></span> <span>Fast and Efficient</span></li>
        <li> <span [inlineSVG]="'/assets/images/icons/homepage/icon5.svg'"></span>  <span>Confidential Inquiry</span></li>
      </ul>
    </section>
  </div>
  <section>
    <div class="wrapper clearfix">
      <div class="side-menu-landing pull-left">
        <p class="title">Getting Started</p>
        <ul>
          <li><a href="javascript:;">Overview</a></li>
        </ul>
        <p class="title">Terms</p>
        <ul>
          <li><a href="javascript:;">Customer Terms of Services</a></li>
          <li><a href="javascript:;">User Terms of Service</a></li>
          <li><a href="javascript:;">Customer-Specific Suppl.</a></li>
          <li><a href="javascript:;">API Terms of Service</a></li>
          <li><a href="javascript:;">App Directory Agreement</a></li>
        </ul>
      </div>
      <div class="content pull-left">
        <h2>DealValue Terms &amp; Policies</h2>
        <div class="row">
          <div class="col-md-6 content-item">
            <div>
              <h3>Customer Terms of Services</h3>
              <div class="">
                <div class="pull-left detail-div">
                  <p>Agreement with a Customer that governs the access and use of the dealvalue services from its teams.</p>
                  <a class="readme" href="javascript:;"><span [inlineSVG]="'/assets/images/icons/homepage/show-icon.svg'"></span> <span>Read here</span></a>
                  <div class="b-icon" [inlineSVG]="'assets/images/icons/homepage/cutomer-terms-icon.svg'"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 content-item">
            <div>
              <h3>Our Privacy Policy</h3>
              <div class="">
                <div class="pull-left detail-div">
                  <p>Our policy regarding what information we collect at dealvalue, how we use it, and what choices you have.</p>
                  <a class="readme" href="javascript:;"><span [inlineSVG]="'/assets/images/icons/homepage/show-icon.svg'"></span> <span>Read here</span></a>
                  <div class="b-icon" [inlineSVG]="'assets/images/icons/homepage/privacy-policy-icon.svg'"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 content-item">
            <div>
              <h3>User Terms of Service</h3>
              <div class="">
                <div class="pull-left detail-div">
                  <p>Agreement with a user that joins an existing team.</p>
                  <a class="readme" href="javascript:;"><span [inlineSVG]="'/assets/images/icons/homepage/show-icon.svg'"></span> <span>Read here</span></a>
                  <div class="b-icon" [inlineSVG]="'assets/images/icons/homepage/user-terms-icon.svg'"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 content-item">
            <div>
              <h3>API Terms of Service</h3>
              <div class="">
                <div class="pull-left detail-div">
                  <p>Agreement that governs access and use of our developer APIs.</p>
                  <a class="readme" href="javascript:;"><span [inlineSVG]="'/assets/images/icons/homepage/show-icon.svg'"></span> <span>Read here</span></a>
                  <div class="b-icon" [inlineSVG]="'assets/images/icons/homepage/api-terms-icon.svg'"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
