<div class="homepage">
  <div class="wrapper1">
    <section>
      <h1>Dealvalue makes it easier to measure and mitigate <br/> IT Risk and Compliance</h1>
      <h2>Secure and Automated application that mitigates risks and compliance issues <br/> across organizations and acquisitions</h2>
      <div class="get-started clearfix">
        <p class="title">Trust but verify. <span><i>No Credit card required!</i></span></p>
        <form (ngSubmit) = "get_start()" class="form get-started-form" #form="ngForm">
          <div class="">
            <div class="input-div your-name form-group"
            [ngClass]="{
              'has-error': username.invalid && username.touched,
              'has-success': username.valid && username.touched
            }">
                <input type="text" name="username" #username="ngModel" value="" [(ngModel)] = "userInfo.UserName" placeholder="Your name" required>
            </div>
            <div class="input-div your-email form-group"
            [ngClass]="{
              'has-error': useremail.invalid && useremail.touched,
              'has-success': useremail.valid && useremail.touched
            }">
                <input type="text" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(?!hotmail|gmail|yahoo|msn|me|icloud|aol|outlook|mail)(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)" name="useremail" #useremail="ngModel" value="" [(ngModel)] = "userInfo.UserEmail" placeholder="Your Company email" required>
            </div>
          </div>
          <div class="">
            <div class="input-div your-password form-group"
            [ngClass]="{
              'has-error': userpassword.invalid && userpassword.touched,
              'has-success': userpassword.valid && userpassword.touched
            }">
                <input type="password" name="userpassword" #userpassword="ngModel" value="" [(ngModel)] = "userInfo.UserPassword" placeholder="Your password" required>
            </div>
            <button type="submit" [disabled] = "form.invalid"  class="get-started-button btn button">Let's go!</button>
          </div>
        </form>
        <span class="span1">By signing up, you are agreeing to our <a href="#">terms</a>.</span>
      </div>
    </section>
  </div>
  <div class="wrapper2">
    <section>
      <h3>Start your free trial today to highlight your blind spots</h3>
      <p class="p1">From protecting corporate value from capturing deal value, <br/> you've found your trusted application.</p>
      <div class="assessment_list ">
        <div class="row">
          <div class="col-md-4 col-sm-6 assessment_item">
            <div [inlineSVG]="'../assets/images/icons/homepage/checkmark-icon.svg'"></div>
            <span>Corporate Value</span>
          </div>
          <div class="col-md-4 col-sm-6 assessment_item">
            <div [inlineSVG]="'../assets/images/icons/homepage/checkmark-icon.svg'"></div>
            <span>Operation Value</span>
          </div>
          <div class="col-md-3 col-sm-6 assessment_item">
            <div [inlineSVG]="'../assets/images/icons/homepage/checkmark-icon.svg'"></div>
            <span>Technical Value</span>
          </div>
          <div class="col-md-4 col-sm-6 assessment_item">
            <div [inlineSVG]="'../assets/images/icons/homepage/checkmark-icon.svg'"></div>
            <span>M&amp;A Value</span>
          </div>
          <div class="col-md-4 col-sm-6 assessment_item">
            <div [inlineSVG]="'../assets/images/icons/homepage/checkmark-icon.svg'"></div>
            <span>Project Value</span>
          </div>
          <div class="col-md-4 col-sm-6 assessment_item">
            <div [inlineSVG]="'../assets/images/icons/homepage/checkmark-icon.svg'"></div>
            <span>Functional Value</span>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="wrapper-keyquestions">
    <section>
      <h3 class="m-b-20">We focus on key questions <br>
        within the 6 pillars of our IT due dilligence framework
      </h3>
      <div class="keyquestions-list">
        <div class="row">
          <div class="col-md-6 col-sm-6 keyquestions_item">
            <p class="title">
              <span class="text">IT Strategy</span>
            </p>
            <ul class="detail">
              <li>Alignment of the IT strategy with the business strategy</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 keyquestions_item">
            <p class="title">
              <span class="text">IT Spending</span>
            </p>
            <ul class="detail">
              <li>Reasonableness of IT spending levels compared to benchmarks</li>
              <li>Run-rate(Opex) vs. One-time Costs (Capex)</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 keyquestions_item">
            <p class="title">
              <span class="text">Business Applications</span>
            </p>
            <ul class="detail">
              <li>Stability and scalability of the application portfolio</li>
              <li>Use of commercial packages vs. Custom applications</li>
              <li>Integrated vs. standalone applications</li>
              <li>Level of process automation</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 keyquestions_item">
            <p class="title">
              <span class="text">IT Organization</span>
            </p>
            <ul class="detail">
              <li>Leadership and appropriate skillsets</li>
              <li>In house resources vs. effective use of third party support</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 keyquestions_item">
            <p class="title">
              <span class="text">IT Projects</span>
            </p>
            <ul class="detail">
              <li>Captial, timing and resources requirement for current and future projects</li>
              <li>Potential risks of failure(delays, additional costs)</li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-6 keyquestions_item">
            <p class="title">
              <span class="text">Infrastructure &amp; Operation</span>
            </p>
            <ul class="detail">
              <li>Scalability and redundancy of the IT infrastructure</li>
              <li>Preparedness for disaster recovery, change management, business continuity, and service management</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="wrapper3">
    <section>
      <h3>Features</h3>
      <div class="feature_list">
        <div class="feature_item">
          <p class="title">
            <span class="img" [inlineSVG]="'../assets/images/icons/homepage/report-icon.svg'"></span>
            <span class="text">IT Assessment Report</span>
          </p>
          <p class="detail">Detailed assessment of business applications, infrastructure &amp; IT organization along with costs, risk &amp; opportunities.</p>
        </div>
        <div class="feature_item">
          <p class="title">
            <span class="img" [inlineSVG]="'../assets/images/icons/homepage/dashboard-icon.svg'"></span>
            <span class="text">Dashboard</span>
          </p>
          <p class="detail">An overview of your workloadand priorities.</p>
        </div>
        <div class="feature_item">
          <p class="title">
            <span class="img" [inlineSVG]="'../assets/images/icons/homepage/heatmap-icon.svg'"></span>
            <span class="text">Heat Map</span>
          </p>
          <p class="detail">A visual overview of technologyrisks &amp; opportunities.</p>
        </div>

        <div class="feature_item">
          <p class="title">
            <span class="img" [inlineSVG]="'../assets/images/icons/homepage/collaboration-icon.svg'"></span>
            <span class="text">Collaborate</span>
          </p>
          <p class="detail">Buyers, Sellers, Management andIT Leadership interact with ease.</p>
        </div>
        <div class="feature_item">
          <p class="title">
            <span class="img" [inlineSVG]="'../assets/images/icons/homepage/task-icon.svg'"></span>
            <span class="text">Task Management</span>
          </p>
          <p class="detail">Proactively track tasks and progress to drive deal speed.</p>
        </div>
        <div class="feature_item">
          <p class="title">
            <span class="img" [inlineSVG]="'../assets/images/icons/homepage/dashboard-icon.svg'"></span>
            <span class="text">Timeline</span>
          </p>
          <p class="detail">Review and assign IT Assessment tasks with one click.</p>
        </div>

        <div class="feature_item">
          <p class="title">
            <span class="img" [inlineSVG]="'../assets/images/icons/homepage/mobile-icon.svg'"></span>
            <span class="text">Mobile</span>
          </p>
          <p class="detail">Track progress, metrics and comminucate on the move.</p>
        </div>
        <div class="feature_item">
          <p class="title">
            <span class="img" [inlineSVG]="'../assets/images/icons/homepage/resource-icon.svg'"></span>
            <span class="text">Resource Management</span>
          </p>
          <p class="detail">Allocate tasks and view pendingitems by resource across all projects..</p>
        </div>
        <div class="feature_item">
          <p class="title">
            <span class="img" [inlineSVG]="'../assets/images/icons/homepage/workflow-icon.svg'"></span>
            <span class="text">Workflow</span>
          </p>
          <p class="detail">Automated workflow to streamline deal speed and deal value.</p>
        </div>
      </div>
    </section>
  </div>
  <div class="wrapper4">
    <section>
      <h3>How IT Due Diligence Creates Organizational and Transaction Value</h3>
      <div class="row">
        <div class="col-md-3 col-sm-5">
          <div class="pdf-div clearfix">
            <a class="title" href="#"><img src="../assets/images/logo/logo1.png" width="131" height="19"></a>
            <br>
            <p class="title">How IT Due Diligence Creates Organizational and Transaction Value</p>
            <p class="state">The State of IT Due Diligence in 2017</p>
            <a href="#" class="svg pdf-icon pull-right">
              <a href="javascript:;" [inlineSVG]="'../assets/images/icons/homepage/pdf-icon.svg'" width="36" height="36" alt=""></a>
            </a>
          </div>
        </div>
        <div class="col-md-9 col-sm-7">
          <div class="state_div">
            <h4>The State of IT Due Diligence in 2017</h4>
            <div class="row">
              <div class="col-md-5  col-sm-12">
                <p>We surveyed over 300 buyers, sellers<br> and technology executives to learn <br>about why their most successful<br> transactions included IT Due Diligence. <br>Don’t let surprises kill your ROI.</p>
              </div>
              <div class="col-md-7 col-sm-12">
                <ul>
                  <li>Top technology challenges buyers &amp; sellers<br>battle every day</li>
                  <li>Don’t let surprises and high Advisor fees<br>kill your deal value  or ROI</li>
                  <li>Which DealValue features increase<br> opportunities and reduce risks</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 download-report-button">
                <a href="#" class="download-button button">Download <i>free</i> report</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="wrapper5">
    <section>
      <h3>Secure and global access from anywhere at anytime </h3>
      <div class="row outer-img-tablet">
        <div class="col-md-3 col-sm-0 tablet1">
          <img src="./assets/images/homepage/tablet1.png" alt="tablet">
        </div>
        <div class="col-md-6 col-sm-12 tablet2">
          <img src="./assets/images/homepage/tablet2.png" alt="tablet">
        </div>
        <div class="col-md-3 col-sm-0 tablet1">
          <img src="./assets/images/homepage/tablet1.png" alt="tablet">
        </div>
      </div>
    </section>
  </div>
  <div class="wrapper6">
    <section class="clearfix">
      <h3>Your data stays safe in the cloud.</h3>
      <p class="sub-title">We encrypt our connections. Keep data safe and private.<br>And we work hard to protect your information.</p>
      <div class="outer-icon-div">
        <ul class="icon-div">
          <li>
            <div [inlineSVG]="'../assets/images/icons/homepage/lock-icon.svg'"></div>
            <span>AES 128-bit encryption</span>
          </li>
          <li>
            <div [inlineSVG]="'../assets/images/icons/homepage/shield-icon.svg'"></div>
            <span>TLS/SSL</span>
          </li>
          <li>
            <div style="margin-left:-9px;" [inlineSVG]="'../assets/images/icons/homepage/authentication-icon.svg'"></div>
            <span>Two-step authentication</span>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
