.footer{
  background: #262d27;
  color: #a2a2a2;
  padding: 22px 30px;
  // height: $dv-footer-height;
  a{
    color: #a2a2a2;
  }
  a:hover{
    color: #a2a2a2;
  }
  .logo-div{
    width: 30%;
    img{

    }
    p{
      margin-top: 12px;
    }
  }
  ul{
    width: calc(70% - 200px);
    margin-right: 200px;
    list-style: none;
    column-count: 5;
    line-height: 25px;
  }
}
