.header-dashboard {
  width: 100%;
  display: flex;
  align-items: center;
  height: $dv-dashboard-header-height;
  .nav-icon{
    float: left;
    margin-right: 10px;
    position: relative;
    padding: 9px 10px;
    background-color: $dv-color-green;
    background-image: none;
    border-radius: 4px;
    cursor: pointer;
    .icon-bar {
        background-color: $dv-color-white;
    }
    .icon-bar+.icon-bar {
        margin-top: 4px;
    }
    .icon-bar{
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
  }
  .project-select{
    position: relative;
    min-width: 250px;
    color: $dv-color-grey;
    .search-icon{
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .cs-select > div {
      background-color: #fff;
      > div.single > div.toggle {
        display: none;
      }
    }
    select-dropdown > div .options ul li {
      padding: 10px 8px;
    }
  }
  .signoff-div{
    a.button{
      padding: 5px 17px;
    }
  }
  .create-project-div{
    a.button{
      padding: 5px 17px;
    }
  }
  .menu-bar {
    a{
      color: $dv-color-primary;
    }
    a:hover{
      color: $dv-color-green;
    }
    li {
      padding: 10px;
      display: inline-block;
    }
    margin-right: 40px;
  }
  .search_div{
    background-color: $dv-color-white;
    padding: 3px 10px;
    border: 2px solid $dv-color-border;
    border-radius: 5px;
    width: 300px;
    display: flex;
    align-items: center;
    input{
      border: none;
      line-height: 28px;
      padding: 0px !important;
      width: calc(100% - 20px);
      background-color: $dv-color-white;
    }
    a{
      padding-top:2px;
    }
  }
  .header-dropdown-menu {
    margin-left: auto;
    margin-right: 25px;
    .short-name{
      width: 32px;
      line-height: 32px;
      text-align: center;
      display: inline-block;
      color:#fff;
      background-color: $dv-color-green;
      border-radius: 50%;
      text-transform: uppercase;
    }
    .user-name{
      padding-left: 5px;
      padding-right: 5px;
      color: $dv-color-primary;
    }
    .dropdown-menu{
      left:auto;
      margin-top: 10px;
      right: -23px !important;
      a{
        font-size: 18px;
        line-height: 33px;
        color: $dv-color-primary;
        i{
          color: $dv-color-green;
          padding-right:5px;
        }
      }
    }
  }
}
