<div class="assets confirm-email">
  <div class="wrapper">
    <div class="logo">
      <a routerLink="/"><img src="assets/images/logo/logo-register.png" width="226" height="34" alt=""></a>
    </div>
    <div class="form">
      <div class="row">
        <div *ngIf="isConfirmed" class="col-md-12 form-group">
          <h2>Congratulations!</h2>
          <p>You have successfully registered  as the Project Owner</p>
          <p>Please follow below to  initiate your due diligence.</p>
        </div>
        <div *ngIf="!isConfirmed" class="col-md-12 form-group">
          <h2>Opps!</h2>
          <p>Sth Went Wrong.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group button-group" style="margin-top:0px;">
          <div class="invite-button">
              <a [routerLink]="['/membership/']" [queryParams]="{plan_type:membershipType}" class="button pull-left">Continue</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group button-group">
          <a class="back-button" routerLink="/app"><img src="assets/images/icons/assets/back-icon.svg" width="20" height="22" alt="">
          <span>Dashboard</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
