<div class="admin-assessment-page">
  <div class="loading-div" *ngIf="loading"></div>
  <ng-container *ngIf="!loading">
    <div class="title">
      <p>{{assessment.Title}} <span *ngIf="assessment.Desc != ''">({{assessment.Desc}})</span></p>
      <ul>
        <li><a routerLink="../../app/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="../../app/progress" routerLinkActive="active">Progress</a></li>
        <li><a routerLink="../../app/files" routerLinkActive="active">Files</a></li>
        <li><a routerLink="../../app/team" routerLinkActive="active">Team</a></li>
        <li><a routerLink="../../app/heatmap" routerLinkActive="active">Heat Map</a></li>
        <li><a routerLink="../../app/reports" routerLinkActive="active">Reports</a></li>
        <li><a href="javascript:;" [inlineSVG]="'../../../assets/images/icons/dashboard/info-icon.svg'"></a></li>
        <li><a href="javascript:;" [inlineSVG]="'../../../assets/images/icons/dashboard/more-icon.svg'"></a></li>
      </ul>
    </div>
    <div class="button-div clearfix">
        <a class="svg button pull-right" routerLink="{{editAssessmentUrl}}/edit">
          <span> <i class="fa fa-save"></i> Edit Questionnaire</span>
        </a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <td class="category">
            <div class="pull-left filter dropdown">
              <a href="#" class="svg dropdown-toggle" data-toggle="dropdown">All active</a>
              <ul class="dropdown-menu">
                <li>
                    <a href="javascript:;">test1</a>
                </li>
              </ul>
            </div>
            <div class="pull-left filter dropdown">
              <a href="#" class="svg dropdown-toggle" data-toggle="dropdown">To: <span>Show All</span></a>
              <ul class="dropdown-menu">
                <li>
                    <a href="javascript:;">test2</a>
                </li>
              </ul>
            </div>
            <div>By Status<span [inlineSVG]="'../../../assets/images/icons/dashboard/down-icon.svg'"></span></div>
          </td>
          <td colspan="3">
            <span>Progress/Completion Rate</span>
            <span class="span-percent">50%</span>
            <div class="custom-progress">
              <progress-bar [value] = "50" [max] = "100" title = "50%"></progress-bar>
            </div>
          </td>
        </tr>
        <tr>
          <td class="category clearfix">
            <div></div>
          </td>
          <td width="15%">Question Type <span [inlineSVG]="'../../../assets/images/icons/dashboard/down-icon.svg'"></span></td>
        </tr>
      </thead>
      <tbody *ngFor="let question_group of tableData; let group_index = index">
        <tr>
          <td class="category">
            <div (click)="question_group.open = !question_group.open">
              <div class="desc-div">
                <span [hidden]="question_group.hasDetail != true" href="javascript:;" class="collapse-icon" [class.opened]="!question_group.open" [class.closed]="question_group.open"></span>
                <span class="desc" [class.no-files]="!question_group.hasDetail">{{question_group.title}}</span>
                <span class="count" >( {{question_group.subDetails.length}} )</span>
              </div>
            </div>
          </td>
          <td></td>
        </tr>
        <tr class="sublist" [hidden]="question_group.hasDetail != true || question_group.open != true" *ngFor="let question_item of question_group.subDetails">
          <td class="category">
            <div>
              <div class="desc-div">
                <div class="pull-left" [inlineSVG]="'../../../assets/images/icons/dashboard/document-list-icon.svg'"></div>
                <span class="desc pull-left">{{question_item.desc}}</span>
              </div>
            </div>
          </td>
          <td width="15%">
            <span class="desc" [class.no-files]="!question_group.hasDetail">{{question_item.type}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
