<div class="footer">
	<section class="clearfix">
		<div class="pull-left logo-div">
			<a href="#"><img src="./assets/images/logo/logo-grey.png" alt="logo"></a>
			<p>© Copyright 2017 dealvalue.com</p>
		</div>
		<ul class="pull-right">
			<a href="#"><li>Tutorial Videos</li></a>
			<a href="#"><li>Mobile Apps</li></a>
			<a href="#"><li>Add Users</li></a>
			<a href="#"><li>Feedback</li></a>
			<a href="#"><li>Recommend Us</li></a>
			<a href="#"><li>Keyboard Shortcuts</li></a>
			<a href="#"><li>Help</li></a>
			<a href="#"><li>Live Support</li></a>
			<a routerLink="/terms-policies"><li>Terms &amp; Conditions</li></a>
			<a routerLink="/terms-policies"><li>Privacy Policies</li></a>
		</ul>
	</section>
</div>
