<div class="assets checkout">
  <div class="loading-div" *ngIf="loading"></div>
  <ng-container *ngIf="!loading">
    <div class="wrapper">
      <div class="inner-wrapper">
        <div class=" inner-content">
          <div class="row">
            <form class="form promocode-modal" (ngSubmit) = "validPromocode()" #form1="ngForm">
              <div class="promo-div form-group clearfix"
                [ngClass]="{
                  'has-error': promocode.invalid && promocode.touched,
                  'has-success': promocode.valid && promocode.touched
                }">
                <label for="promocode">Promo Code:</label>
                <input type="text" placeholder="Input Valid Promo Code" name="promocode" #promocode = "ngModel" required [(ngModel)] = "Promocode.Code" value="">
                <span class="help-block" *ngIf="promocode.errors && promocode.errors.required  && promocode.touched">Promocode is required</span>
                <div class="submit-button">
                  <button type="submit" class="btn btn-success" [disabled] = "form1.invalid">Apply</button>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <p class="alert" [class.alert-success] = "Promocode.Passed" [class.alert-danger] = "!Promocode.Passed" *ngIf="Promocode.ErrorStr.length" >{{Promocode.ErrorStr}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12" *ngIf="notification_text != ''">
              <p class="alert alert-danger">{{notification_text}}</p>
            </div>
            <div class="col-md-12 dess-div">
              <p class="alert alert-success">
                Please select your funding method to process your annual payment of ${{formatString(displayFee)}} USD to unlock your reports!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group radio pm_group_div">
                <div class="pm_div" [class.selected] ="paymentMethodRadio == 'Credit Card'" (click)="paymentMethodRadio = 'Credit Card'">
                  <div class="">
                    <input type="radio" name="radio1" id="radio1" [(ngModel)]="paymentMethodRadio" value="Credit Card">
                    <label for="radio1">Credit Card</label>
                  </div>
                  <span class="payment-icon cc-logo" [class.is_active] ="paymentMethodRadio == 'Credit Card'">All Major cards are accepted</span>
                </div>
                <!-- <div class="pm_div" [class.selected] ="paymentMethodRadio == 'Paypal'" (click)="paymentMethodRadio = 'Paypal'">
                  <div class="">
                    <input type="radio" name="radio2" id="radio2" [(ngModel)]="paymentMethodRadio" value="Paypal">
                    <label for="radio2">Paypal</label>
                  </div>
                  <span class="payment-icon paypal-logo" [class.is_active] ="paymentMethodRadio == 'Paypal'"></span>
                </div> -->
                <div class="pm_div" [class.selected] ="paymentMethodRadio == 'Bank'" (click)="paymentMethodRadio = 'Bank'">
                  <div class="">
                    <input type="radio" name="radio3" id="radio3" [(ngModel)]="paymentMethodRadio" value="Bank">
                    <label for="radio3">Bank Deposit</label>
                  </div>
                  <span class="payment-icon bank-logo" [class.is_active] ="paymentMethodRadio == 'Bank'"></span>
                </div>
              </div>
            </div>
            <div class="col-md-6 form-group payment-summary">
              <h3>Payment Summary</h3>
              <table>
                <thead>
                  <tr>
                      <td></td>
                      <td>Amount</td>
                      <td>Currency</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Amount Due Today</td>
                    <td class="payment-summary-currency">{{formatString(fee)}}</td>
                    <td class="payment-summary-currency-type">USD</td>
                  </tr>
                  <tr *ngIf="Promocode['Passed']" class="alert-danger">
                    <td>Discount</td>
                    <td class="payment-summary-currency">-{{formatString(discount)}}</td>
                    <td class="payment-summary-currency-type">USD</td>
                  </tr>
                  <tr>
                    <td>Processing Fee</td>
                    <td class="payment-summary-currency">0.0</td>
                    <td class="payment-summary-currency-type">USD</td>
                  </tr>
                  <tr class="total-tr">
                    <td><b>Total</b></td>
                    <td class="payment-summary-currency">{{formatString(displayFee)}}</td>
                    <td class="payment-summary-currency-type">USD</td>
                  </tr>
                </tbody>
              </table>
              <div class="payment-summary-confirm-div">
                <a class="button" (click)="paymentModal(CreditModal)">Confirm</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <modal #CreditModal [animation]=false>
    <modal-header>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Secure Payment</h4>
    </modal-header>
    <modal-body>
      <div class="card-wrapper">
        <div class="card-container"></div>
        <div class="card-form-container">
          <form card
            container=".card-container"
            card-width="500"
            [messages]="messages"
            [placeholders]="placeholders"
            [masks]="masks"
            formatting="false"
            debug="true">
            <div class="slds-form-element__row">
              <input type="text" placeholder="Card Number" name="number" card-number [class.invalide]="ccInfoInvalid[0]" [(ngModel)]="ccInfo.card_number"/>
            </div>
            <div class="slds-form-element__row">
              <input type="text" placeholder="First Name" name="first-name" card-name [class.invalide]="ccInfoInvalid[1]" [(ngModel)]="ccInfo.card_first_name"/>
              <input type="text" placeholder="Last Name" name="last-name" card-name [class.invalide]="ccInfoInvalid[2]" [(ngModel)]="ccInfo.card_last_name"/>
            </div>
            <div class="slds-form-element__row">
              <input type="text" placeholder="MM / YY" name="expiry" card-expiry [class.invalide]="ccInfoInvalid[3]" [(ngModel)]="ccInfo.card_expiry"/>
              <input type="text" placeholder="CVC" name="cvc" card-cvc [class.invalide]="ccInfoInvalid[4]" [(ngModel)]="ccInfo.card_cvc"/>
            </div>
            <div class="slds-form-element__row">
              <a class="button" (click)="validCard()">Pay ${{displayFee}}</a>
            </div>
          </form>
        </div>
      </div>
    </modal-body>
  </modal>
</div>
