<div class="user-setting">
  <div class="loading-div" *ngIf="loading"></div>
  <p class="title">User Setting</p>
  <ng-container *ngIf="!loading">
    <div class="row content-inner">
      <div class="col-md-12">
        <div class="sub-title-div clearfix">
          <p class="sub-title pull-left">Email Notification</p>
          <span class="edit-icon pull-right" (click)="openModal(EditModal);"><i class="fa fa-pencil" aria-hidden="true"></i></span>
        </div>
        <div class="info-div clearfix">
          <span class="info-title">Daily Mail:</span>
          <span class="content success" *ngIf="userSetting['dailymail']">On</span>
          <span class="content danger" *ngIf="!userSetting['dailymail']">Off</span>
        </div>
        <div class="info-div clearfix">
          <span class="info-title">Project Update :</span>
          <span class="content success" *ngIf="userSetting['projectupdate']">On</span>
          <span class="content danger" *ngIf="!userSetting['projectupdate']">Off</span>
        </div>
        <div class="info-div clearfix">
          <span class="info-title">New Assignment :</span>
          <span class="content success" *ngIf="userSetting['newassignment']">On</span>
          <span class="content danger" *ngIf="!userSetting['newassignment']">Off</span>
        </div>
      </div>
    </div>
  </ng-container>

  <modal #EditModal [animation]=false>
    <form class="form user-setting-modal" (ngSubmit) = "updateSetting(EditModal)" #form1="ngForm">
      <modal-header>
        <h4 class="modal-title">Update Setting</h4>
      </modal-header>
      <modal-body>
        <div class="row assets">
          <div class="col-md-12 form-group">
            <label>Daily Mail:</label>
            <ui-switch [checked]="userSettingUpdate['dailymail']" size="small" color="#60a628" switchColor="#fcfcfc" (change)="userSettingUpdate['dailymail'] = !userSettingUpdate['dailymail']"></ui-switch>
          </div>

          <div class="col-md-12 form-group">
            <label>Project Update:</label>
            <ui-switch [checked]="userSettingUpdate['projectupdate']" size="small" color="#60a628" switchColor="#fcfcfc" (change)="userSettingUpdate['projectupdate'] = !userSettingUpdate['projectupdate']"></ui-switch>
          </div>

          <div class="col-md-12 form-group">
            <label>New Assignment:</label>
            <ui-switch [checked]="userSettingUpdate['newassignment']" size="small" color="#60a628" switchColor="#fcfcfc" (change)="userSettingUpdate['newassignment'] = !userSettingUpdate['newassignment']"></ui-switch>
          </div>
        </div>
      </modal-body>
      <modal-footer>
        <button type="submit" class="btn btn-success" [disabled] = "form1.invalid">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="EditModal.dismiss()">Cancel</button>
      </modal-footer>
    </form>
  </modal>

</div>
