<div class="footer-dashboard">
	<section class="clearfix">
		<div class="logo-div">
			<a href="#"><img src="./assets/images/logo/logo-grey.png" alt="logo"></a>
			<p>© Copyright 2017 dealvalue.com</p>
		</div>
		<ul class="">
			<a routerLink="/contact"><li>Contact Us</li></a>
			<a href="#"><li>Feedback</li></a>
			<a routerLink="/app/project/new"><li>New Project</li></a>
			<a routerLink="/app/user/membership"><li>Upgrade Subscription</li></a>
			<a routerLink="/terms-policies"><li>Terms &amp; Conditions</li></a>
			<a routerLink="/privacy-policy"><li>Privacy Policies</li></a>
		</ul>
	</section>
</div>
