<div class="progress-page">
  <div class="loading-div" *ngIf="loading"></div>
  <div class="row status-row" *ngFor="let project_group of userProjectListTab; let i = index">
    <div class="col-md-3 status-block clearfix" *ngFor="let project of project_group; let i1 = index" [class.active]="projectID == project.Project['_id']" (click)="changeProject(project)">
      <div class="status">
        <p class="title">{{project.Project.Name}}</p>
      </div>
      <div class="icon-div"><div class="img-div"></div><span *ngIf="projectID != project.Project['_id']">View Progress</span></div>
    </div>
  </div>

  <div class="row">
    <!-- <div class="progress-div">
      <p class="title">Progress Bar</p>
      <div class="col-md-6 progress-item">
        <p class="title">Applications</p>
        <div class="detail clearfix">
          <div class="img" [inlineSVG]="'../assets/images/icons/dashboard/applications-icon.svg'"></div>
          <div class="custom-progress">
            <progress-bar [value] = "50" [max] = "100" title = "50%"></progress-bar>
          </div>
        </div>
      </div>
      <div class="col-md-6 progress-item">
        <p class="title">Disaster Recovery</p>
        <div class="detail clearfix">
          <div class="img" [inlineSVG]="'../assets/images/icons/dashboard/recovery-icon.svg'"></div>
          <div class="custom-progress">
            <progress-bar [value] = "10" [max] = "100" title = "10%"></progress-bar>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-6 progress-item">
        <p class="title">Infrastructure</p>
        <div class="detail clearfix">
          <div class="img" [inlineSVG]="'../assets/images/icons/dashboard/infrastructure-icon.svg'"></div>
          <div class="custom-progress">
            <progress-bar [value] = "30" [max] = "100" title = "30%"></progress-bar>
          </div>
        </div>
      </div>
      <div class="col-md-6 progress-item">
        <p class="title">IT Projects</p>
        <div class="detail clearfix">
          <div class="img" [inlineSVG]="'../assets/images/icons/dashboard/projects-icon.svg'"></div>
          <div class="custom-progress">
            <progress-bar [value] = "50" [max] = "100" title = "50%"></progress-bar>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-6 progress-item">
        <p class="title">IT Security</p>
        <div class="detail clearfix">
          <div class="img" [inlineSVG]="'../assets/images/icons/dashboard/it-security-icon.svg'"></div>
          <div class="custom-progress">
            <progress-bar [value] = "60" [max] = "100" title = "60%"></progress-bar>
          </div>
        </div>
      </div>
      <div class="col-md-6 progress-item">
        <p class="title">IT Budget</p>
        <div class="detail clearfix">
          <div class="img" [inlineSVG]="'../assets/images/icons/dashboard/budget-icon.svg'"></div>
          <div class="custom-progress">
            <progress-bar [value] = "80" [max] = "100" title = "80%"></progress-bar>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-6 progress-item">
        <p class="title">IT Organization</p>
        <div class="detail clearfix">
          <div class="img" [inlineSVG]="'../assets/images/icons/dashboard/it-organization-icon.svg'"></div>
          <div class="custom-progress">
            <progress-bar [value] = "50" [max] = "100" title = "50%"></progress-bar>
          </div>
        </div>
      </div>
      <div class="col-md-6 progress-item">
        <p class="title">Welcome to dealvalue!</p>
        <div class="detail clearfix">
          <div class="img" [inlineSVG]="'../assets/images/icons/dashboard/welcome-icon.svg'"></div>
          <div class="custom-progress">
            <progress-bar [value] = "100" [max] = "100" title = "100%"></progress-bar>
          </div>
        </div>
      </div>
    </div> -->

    <div class="progress-div">
      <p class="title">Progress Bar</p>
      <div class="col-md-6 progress-item" *ngFor="let item of tableData; let i = index">
        <p class="title">{{item.title}}</p>
        <div class="detail clearfix">
          <div class="img" [inlineSVG]="'../assets/images/icons/dashboard/applications-icon.svg'"></div>
          <div class="custom-progress">
            <progress-bar [value] = "item.percent" [max] = "100" title = "{{item.percent}}%"></progress-bar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
