<div class="organization-page">
  <div class="title-div clearfix">
    <p class="title pull-left">IT Staff</p>
    <div class="back-div pull-right">
      <a href="javascript:;">Back to Document Request List <span [inlineSVG]="'../../../assets/images/icons/dashboard/back-icon.svg'"></span></a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <td colspan="2" class="category clearfix">
          <div><span [inlineSVG]="'../../../assets/images/icons/dashboard/document-list-icon.svg'"></span> <span> List of current IT employees</span></div>
        </td>
        <td class="status"><div class="">
          <span [inlineSVG]="'../../../assets/images/icons/dashboard/check-icon.svg'"></span> <span class="completed">Mark as Completed</span>
        </div></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="40px"><div class="user-icon-div">
          <span [inlineSVG]="'../../../assets/images/icons/dashboard/user-icon.svg'"></span>
        </div></td>
        <td>
          <div class="detail-div">
            <span class="title">First Name</span>
            <input type="text" name="" value="" placeholder="type it here">
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="8"></td>
        <td>
          <div class="detail-div">
            <span class="title">Last Name</span>
            <input type="text" name="" value="" placeholder="type it here">
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="detail-div">
            <span class="title">Job Title</span>
            <input type="text" name="" value="" placeholder="e.g. Developer, IT Manager, IT Director, CIO, Projet Manager, etc">
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="detail-div">
            <span class="title">Manager First Name</span>
            <input type="text" name="" value="" placeholder="type it here">
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="detail-div">
            <span class="title">Manager Last Name</span>
            <input type="text" name="" value="" placeholder="type it here">
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="detail-div">
            <span class="title">Employment Type</span>
            <input type="text" name="" value="" placeholder="e.g Full Time, Part Time, Contractor">
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="detail-div">
            <span class="title">Key Reponsibilities</span>
            <input type="text" name="" value="" placeholder="e.g. Develop and maintain in-house applications">
          </div>
        </td>
        <td></td>
      </tr><tr>
        <td>
          <div class="detail-div">
            <span class="title">Certifications</span>
            <input type="text" name="" value="" placeholder="e.g. SAP, Microsoft, NetSuite, Oracle, etc">
          </div>
        </td>
        <td></td>
      </tr><tr>
        <td>
          <div class="detail-div">
            <span class="title">Education</span>
            <input type="text" name="" value="" placeholder="e.g. High School Diploma, Bachelors Degree, Masters Degree, etc">
          </div>
        </td>
        <td></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td><div class="user-icon-div">
          <span [inlineSVG]="'../../../assets/images/icons/dashboard/user-icon.svg'"></span>
        </div></td>
        <td>
          <div class="new-user-div clearfix">
            <a href="#"><span class="pull-left" [inlineSVG]="'../../../assets/images/icons/dashboard/plus-icon.svg'"></span>
              <span class="pull-left title"> Add another employee to this list</span>
            </a>
          </div>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>
