<div class="sidebar">
  <div class="logo-div">
    <a routerLink="/"><img class="logo" src="/assets/images/logo/logo-dashboard.png" alt="logo" width="170" height="26"></a>
  </div>
  <div class="sidebar-menu category-tree">
    <ul>
      <ng-template #recursiveList let-menu>
      <li *ngFor="let menu_item of menu">

        <a *ngIf="!menu_item.hasChildren && menu_item.uuid" routerLink="{{menu_item.route+'/'+menu_item.uuid}}" routerLinkActive="active">{{menu_item.Title}}</a>
        <a *ngIf="!menu_item.hasChildren && !menu_item.uuid" routerLink="{{menu_item.route}}" routerLinkActive="active">{{menu_item.Title}}</a>
        <a *ngIf="menu_item.hasChildren  && menu_item.uuid"  routerLink="{{menu_item.route+'/'+menu_item.uuid}}" routerLinkActive="active" class="submenu" [class.open] = "menu_item.expanded" [class.collapsed] = "!menu_item.expanded" (click)="menu_item.expanded = menu_item.expanded ? false: true;" href="javascript:;">{{menu_item.Title}}</a>
        <a *ngIf="menu_item.hasChildren  && !menu_item.uuid"  routerLink="{{menu_item.route}}" routerLinkActive="active" class="submenu" [class.open] = "menu_item.expanded" [class.collapsed] = "!menu_item.expanded" (click)="menu_item.expanded = menu_item.expanded ? false: true;" href="javascript:;">{{menu_item.Title}}</a>
        <ul *ngIf="menu_item.hasChildren  ">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: menu_item.children }"></ng-container>
        </ul>
      </li>
      </ng-template>
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: menu }"></ng-container>
    </ul>
  </div>
</div>
