<div class="heatmap">
  <div class="loading-div" *ngIf="loading"></div>
  <ng-container *ngIf="!loading">
    <p class="title">Heat Map</p>
    <table cellspacing="10" class="table1">
      <thead>
        <tr>
          <td width="40%"></td>
          <td width="15%"><div><div class="img" [inlineSVG]="'../assets/images/icons/dashboard/integrity-icon.svg'"></div><span>Integrity</span></div></td>
          <td width="15%"><div><div class="img" [inlineSVG]="'../assets/images/icons/dashboard/fit-icon.svg'"></div><span>Fit</span></div></td>
          <td width="15%"><div><div class="img" [inlineSVG]="'../assets/images/icons/dashboard/viability-icon.svg'"></div><span>Viability</span></div></td>
          <td width="15%"><div><div class="img" [inlineSVG]="'../assets/images/icons/dashboard/cost-icon.svg'"></div><span>Cost</span></div></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let item of tableData">
          <td><div class="img" [inlineSVG]="'../assets/images/icons/dashboard/applications-icon.svg'"></div><span>{{item.title}}</span></td>
          <td class="color-block" [class.orange] ="item['Heatmap']['Integrity']<3 && item['Heatmap']['Integrity'] != null" [class.yellow] ="item['Heatmap']['Integrity'] >=3 && item['Heatmap']['Integrity'] <4" [class.green]="item['Heatmap']['Integrity'] >=4">
            <span class="custom-tooltip" >
              <span class="custom-tooltiptext tooltip-top">
                {{getDes(item['Heatmap']['Integrity'])}}
              </span>
            </span>
          </td>
          <td class="color-block" [class.orange] ="item['Heatmap']['Fit']<3 && item['Heatmap']['Fit'] != null" [class.yellow] ="item['Heatmap']['Fit'] >=3 && item['Heatmap']['Fit'] <4" [class.green]="item['Heatmap']['Fit'] >=4">
            <span class="custom-tooltip" >
              <span class="custom-tooltiptext tooltip-top">
                {{getDes(item['Heatmap']['Fit'])}}
              </span>
            </span>
          </td>
          <td class="color-block" [class.orange] ="item['Heatmap']['Viability']<3 && item['Heatmap']['Viability'] != null" [class.yellow] ="item['Heatmap']['Viability'] >=3 && item['Heatmap']['Viability'] <4" [class.green]="item['Heatmap']['Viability'] >=4">
            <span class="custom-tooltip" >
              <span class="custom-tooltiptext tooltip-top">
                {{getDes(item['Heatmap']['Viability'])}}
              </span>
            </span>
          </td>
          <td class="color-block" [class.orange] ="item['Heatmap']['Cost']<3 && item['Heatmap']['Cost'] != null" [class.yellow] ="item['Heatmap']['Cost'] >=3 && item['Heatmap']['Cost'] <4" [class.green]="item['Heatmap']['Cost'] >=4">
            <span class="custom-tooltip" >
              <span class="custom-tooltiptext tooltip-top">
                {{getDes(item['Heatmap']['Cost'])}}
              </span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table2">
      <thead>
        <tr>
          <th width="40%">Degree of Risk, Mitigation Expense and/or Effort</th>
          <th width="15%">Category</th>
          <th width="45%">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><div><div class="color orange"></div><p class="desc">Time sensitive and <br>needs to be addressed</p></div></td>
          <td><div><div class="img" [inlineSVG]="'../assets/images/icons/dashboard/integrity-icon.svg'"></div><span class="span_heatmap_type">Integrity</span></div></td>
          <td>Risk of data corruption, loss and/or security vulnerabilities</td>
        </tr>
        <tr>
          <td rowspan="2"><div><div class="color yellow"></div><p class="desc">Risk reduction options <br>should be considered</p></div></td>
          <td><div><div class="img" [inlineSVG]="'../assets/images/icons/dashboard/fit-icon.svg'"></div><span class="span_heatmap_type">Fit</span></div></td>
          <td>Risk of data corruption, loss and/or security vulnerabilities</td>
        </tr>
        <tr>
          <td><div><div class="img" [inlineSVG]="'../assets/images/icons/dashboard/viability-icon.svg'"></div><span class="span_heatmap_type">Viability</span></div></td>
          <td>Risk of data corruption, loss and/or security vulnerabilities</td>
        </tr>
        <tr>
          <td><div><div class="color green"></div><p class="desc">Low/Acceptable to No risk</p></div></td>
          <td><div><div class="img" [inlineSVG]="'../assets/images/icons/dashboard/cost-icon.svg'"></div><span class="span_heatmap_type">Cost</span></div></td>
          <td>Risk of data corruption, loss and/or security vulnerabilities</td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
