<div class="term-of-service service_page">
  <div class="clearfix">
    <a routerLink="/terms-policies" class="btn btn-primary back_btn pull-right">Back</a>
  </div>

  <h1>Acceptable Use Policy</h1>
  <p>This Acceptable Use Policy (this “Policy”) describes prohibited uses of the products and/or services offered by Deal Value, Inc. (the “Services”) and the website located at www.DealValue.com (the “DealValue Site”). The examples described in this Policy are not exhaustive. We may modify this Policy at any time by posting a revised version on the DealValue Site. By using the Services or accessing the DealValue Site, you agree to the latest version of this Policy. If you violate the Policy or authorize or help others to do so, we may suspend or terminate your use of the Services.</p>
  <h3>NO ILLEGAL, HARMFUL, OR OFFENSIVE USE OF CONTENT</h3>
  <p>You may not use, or encourage, promote, facilitate or instruct others to use, the Services or DealValue Site for any illegal, harmful, fraudulent, infringing or offensive use, or to transmit, store, display, distribute or otherwise make available content that is illegal, harmful, fraudulent, infringing or offensive. Prohibited activities or content include, but are not limited to:</p>
  <ul>
    <li>Illegal, Harmful or Fraudulent Activities. Any activities that are illegal, that violate the rights of others, or that may be harmful to others, our operations or reputation, including disseminating, promoting or facilitating child pornography, offering or disseminating fraudulent goods, services, schemes, or promotions, make-money-fast schemes, or ponzi and pyramid schemes.</li>
    <li>Infringing Content. Content that infringes or misappropriates the intellectual property or proprietary rights of others.</li>
    <li>Offensive Content. Content that is defamatory, obscene, abusive, invasive of privacy, or otherwise objectionable, including content that constitutes child pornography, relates to bestiality, or depicts non-consensual sex acts.</li>
    <li>Harmful Content. Content or other computer technology that may damage, interfere with, surreptitiously intercept, or expropriate any system, program, or data, including viruses, Trojan horses, worms, time bombs, or cancelbots.</li>
  </ul>
   
  <h3>NO SECURITY VIOLATIONS</h3>
  <p>You may not violate the security or integrity of any network, computer or communications system, software application, or network or computing device (each, a “System”). Prohibited activities include, but are not limited to:</p>
  <ul>
    <li>Unauthorized Access. Accessing or using any System without permission, including attempting to probe, scan, or test the vulnerability of a System or to breach any security or authentication measures used by a System.</li>
    <li>Interception. Monitoring of data or traffic on a System without permission.</li>
    <li>Third Party Services. Developing any applications that interact with the Services or other users’ content or information without our written consent.</li>
  </ul>
   
  <h3>NO NETWORK ABUSE</h3>
  <p>You may not make network connections to any users, hosts, or networks unless you have permission to communicate with them. Prohibited activities include, but are not limited to:</p>
  <ul>
    <li>User Solicitation. Soliciting login credentials from another user or using or attempting to use another user’s account, username, or password without their permission.</li>
    <li>Monitoring or Crawling. Monitoring or crawling of a System that impairs or disrupts the System being monitored or crawled.</li>
    <li>Intentional Interference. Interfering with the proper functioning of the Services, including any deliberate attempt to overload a network or System.</li>
    <li>Avoiding System Restrictions. Using manual or electronic means to avoid any use limitations placed on a System, such as access, message, seat, API, bot, or contact restrictions.</li>
  </ul>
   
  <h3>NO E-MAIL OR OTHER MESSAGE ABUSE</h3>
  <p>You will not distribute, publish, send, or facilitate the sending of unsolicited mass e-mail or other messages, promotions, advertising, or solicitations (like “spam”), including commercial advertising and informational announcements. You will not alter or obscure mail headers or assume a sender’s identity without the sender’s explicit permission. You will not collect replies to messages sent from another internet service provider if those messages violate this Policy or the acceptable use policy of that provider. </p>

  <h3>OUR MONITORING AND ENFORCEMENT</h3>
  <p>We reserve the right, but do not assume the obligation, to investigate any violation of this Policy or misuse of the Services or DealValue Site. We may:</p>
  <ul>
    <li>investigate violations of this Policy or misuse of the Services or DealValue Site; or</li>
    <li>remove, disable access to, or modify any content or resource that violates this Policy or any other agreement we have with you for use of the Services or the DealValue Site.</li>
  </ul>
  <p>We may report any activity that we suspect violates any law or regulation to appropriate law enforcement officials, regulators, or other appropriate third parties. Our reporting may include disclosing appropriate customer information. We also may cooperate with appropriate law enforcement agencies, regulators, or other appropriate third parties to help with the investigation and prosecution of illegal conduct by providing network and systems information related to alleged violations of this Policy.</p>
  <h3>REPORTING OF VIOLATIONS OF THIS POLICY</h3>
  <p>If you become aware of any violation of this Policy, please contact us immediately and provide us with assistance, as requested, to stop or remedy the violation.   Last updated: December 1, 2017</p>

</div>
