<div class="assets forgot-password">
  <div class="wrapper">
    <div class="logo">
      <a routerLink="/"><img src="assets/images/logo/logo-register.png" width="226" height="34" alt=""></a>
    </div>
    <form (ngSubmit) = "onSubmitForgot()" #form="ngForm" class="form">
      <div class="row">
        <ng-container *ngIf="!isSent">
          <div class="col-md-12 form-group">
            <h2>Forgot your password?</h2>
            <p>Don't worry, it happens to the best of us.</p>
            <p>To reset your password, enter the email addressyou use to sign in to dealvalue.</p>
          </div>
        </ng-container>
        <ng-container *ngIf="isSent">
          <div class="col-md-12 form-group">
            <h2>Email has been sent.</h2>
            <p>Your request has been received and an email with instructions have been sent. Please check your email and follow the instructions to reset your password</p>
            <p>Thanks</p>
          </div>
        </ng-container>
      </div>
      <div class="row">
        <div class="col-md-12 form-group"
          [ngClass]="{
            'has-error': email.invalid && email.touched,
            'has-success': email.valid && email.touched
          }">
          <input type="email" name="email" #email = "ngModel" [(ngModel)] = "Email" value="" placeholder="Email address" required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <span class="help-block" *ngIf="email.errors && email.errors.required  && email.touched">Email is required</span>
          <span class="help-block" *ngIf="email.errors && email.errors.pattern && email.touched">Email is invalid</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <a class="back-button" routerLink="/login"><img src="assets/images/icons/assets/back-icon.svg" width="20" height="22" alt="">
          <span>Back to login</span></a>
        </div>
        <div class="col-md-5 col-md-offset-1 form-group clearfix">
          <button type="submit" [disabled] = "form.invalid" class="btn button">{{buttonTitle}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
